<div class="well">
  <% @articles.each do |article| %>
    <%classtext = "artikkel grid_7 articleheight " + cycle("alpha","omega")%>

    <div class="<%=classtext%>">
      <a href="<%= workshop_path(article)%>">
        <%=image_tag "https://internal.isfit.org" +  article.workshop_image.url(:original)%>
        <h1><%=article.name%></h1>
        <p><%=truncate(article.ingress, :length=>150, :separator => ' ')%></p>
      </a>
    </div>
  <%end%>
</div>
