<%content_for :head do %>
  <meta property="og:title" content="<%= @article.name %>"/>
  <meta property="og:type" content="non_profit"/>
  <meta property="og:url" content="<%=(request.url).match(/([A-Za-z0-9:._\/]+)/)[1]%>"/>
  <meta property="og:site_name" content="ISFiT 2013"/>
  <meta property="fb:app_id" content="111446192243028"/>
  <meta property="og:description" content="<%=@article.ingress%>"/>
<%end%>

<%= content_for :header do %>

<header id="article-header">
  <%= image_tag "https://internal.isfit.org" +  @article.workshop_image.url(:original) %>
 
  <div class="header-text">
    <h1>WS<%= @article.number < 10 ? "0#{@article.number}" : "#{@article.number}" %> <%= " - #{@article.name}" %></h1>
    <section class="article-ingress">
      <p><%=truncate(@article.ingress, :length=>150, :separator => ' ')%></p>
    </section>
  </div>
</header>  

<%end %>

<div id="article-wrapper" class="well">
  <article id="article">
    <div>
      <section class="article-text">
      <%= raw format(@article.body) %>
      </section>
    </div>
  </article>

  <%if @article.got_comments%>
    <div class="fb-comments" data-href="<%= workshop_url(@article) %>" data-num-posts="2" data-width="550"></div>
  <%end%>
</div>


