<%content_for :head do %>
  <meta property="og:title" content="<%= @article.name %>"/>
  <meta property="og:type" content="non_profit"/>
  <meta property="og:url" content="<%=(request.url).match(/([A-Za-z0-9:._\/]+)/)[1]%>"/>
  <meta property="og:site_name" content="ISFiT 2013"/>
  <meta property="fb:app_id" content="111446192243028"/>
  <meta property="og:description" content="<%=@article.ingress%>"/>
<%end%>

<header id="article-header">
  <%= image_tag "https://internal.isfit.org" +  @article.workshop_image.url(:original) %>
  <br>
  <div class="article-text">
    <h1>WS<%= @article.number < 10 ? "0#{@article.number}" : "#{@article.number}" %> <%= " - #{@article.name}" %></h1>
    <section class="article-ingress">
      <p><%=truncate(@article.ingress, :length=>150, :separator => ' ')%></p>
    </section>
  </div>
</header>  

<div class="well">
  <div id="article">
    <% if @article.workshop_image %>
      <%=image_tag "https://internal.isfit.org" +  @article.workshop_image.url(:original)%>
    <% end %>
    <h3>
      <%= @article.name %>
    </h3></p>

    <p>
    <b><%=raw format(@article.ingress) %></b>
    </p><hr>
    Date: <%=  @article.created_at.strftime("%F")%>
    </p><hr>

    <p style="text-align:justify">
    <%= raw format( @article.body) %>
    </p>


    <%if @article.got_comments%>
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=111446192243028&amp;xfbml=1"></script><fb:comments width="550"></fb:comments>
    <%end%>
  </div>
</div>


