<h1>ISFiT Gallery 2009</h1>
Images can be uploaded to samba-folder: "\\samba.isfit.org\common\2009\Gallery". The images will then be added to the gallery by ISFiT-IT. <br />
<% Dir["#{@path}/*"].each do |f| %>


	<% 
	# Retrieve some info needed. 
	current_folder 	= Dir["#{f}*/*.{jpg,png}"] 
	album_name 		= f[@path.size+1,f.size] 
	first_image		= current_folder[0]
	first_image_name = first_image[f.size+1,first_image.size]
	%>
	   
	<!-- Let's view the album info !-->
<div style="float:left;margin-right:10px;">
	<table>
	<tr><td><h2><%= album_name %></h2></td></tr>
	<tr><td height="100" width="100">
  	<%form_for :album, @album, :url => { :action => :album}, :html => {:method => :get} do |s| %>
	<%= s.hidden_field(:album_name, :value => album_name) %>
	<%= s.hidden_field(:selected, :value => 0) %>

	<% album = Album.new %>
	<%= image_submit_tag(album.get_thumb(first_image, f, album_name), :width => "100")%>

	</td></tr>
	<tr><td>
	Images: <%=current_folder.size %>
	</td></tr>
	<% end %>
	</table>
</div>
<% end %>
