<h1>Listing economy_contact_units</h1>

<table>
  <tr>
    <th><%= sort_header_tag('id', :title => 'Sort by ID') %></th>
    <th><%= sort_header_tag('name', :text => 'Name')%></th>
    <th>Phone</th>
    <th>Homepage</th>
    <th><%= sort_header_tag('economy_contact_unit_type_id', :text => 'Unit Type')%></th>
  </tr>
<% row = 1 %>
  <% for economy_contact_unit in @economy_contact_units %>

    <tr<%= row  % 2 == 1 ? ' class="alternate"' : '' %>>
    <td><%=h economy_contact_unit.id %></td>
    <td><%=h economy_contact_unit.name %></td>
    <td><%=h economy_contact_unit.phone %></td>
    <td><%=h economy_contact_unit.homepage %></td>
    <td><%=h economy_contact_unit.economy_contact_unit_type.name %></td>
    <td><%= link_to 'Show', economy_contact_unit_path(params[:tab], economy_contact_unit) %></td>
    <td><%= link_to 'Edit', edit_economy_contact_unit_path(params[:tab],economy_contact_unit) %></td>
  </tr>
  <% row += 1 %>
<% end %>
</table>

<br />

<%= link_to 'New economy_contact_unit', new_economy_contact_unit_path(params[:tab]) %>
