<!--SEARCH AREA-->
<div style="margin-left: 0px">
Enter one or several search criteria:
<% form_for :participant, @search_participant, :url => { :action => "statistics" },:method => "get"  do |f| %>
  <%= f.error_messages %>
  <table>
<!--  <tr><td><b>Participant-grade greater than: </b></td><td><%= f.text_field :participant_grade, :size=>5%></td></tr>
  <tr><td><b>Theme-grade greater than: </b></td><td><%= f.text_field :theme_grade1, :size=>5%></td></tr>
  <tr><td><b>Total grade-score greater than: </b></td><td><%= f.text_field :theme_grade2, :size=>5%></td></tr>-->
  <tr><td><b>Search for invited participants:  </b></td><td><%= check_box_tag 'participant[invited]', "1", params[:participant] ? params[:participant][:invited] : nil %></td></tr>
  <tr>
    <td><b>Search for attending participants: </b></td> <td><%= check_box_tag :attend, "1", params[:attend] %></td>
  </tr>
  <tr>  
  	<td><b>Have registered travel info:</b></td><td><%= check_box_tag :travelinfo_registered, "1", params[:travelinfo_registered] %></td>
  </tr>
	<tr>
		<td><b>Have not registered travel info:</b></td>
		<td>
			<%= check_box_tag :travelinfo_not_registered, "1", 
				params[:travelinfo_not_registered] %>
		</td>
	</tr>

	<tr>
		<td colspan=="2">Visa alternatives:</td>
	</tr>
	<tr>
		<td><b>Don't need visa to come to Norway:</b></td>
		<td>
			<%= check_box_tag :visa_not_needed, "1", 
				params[:visa_not_needed] %>
		</td>
	</tr>
	<tr>
		<td><b>Visa application not yet processed:</b></td>
		<td>
			<%= check_box_tag :visa_not_processed, "1", 
				params[:visa_not_processed] %>
		</td>
	</tr>
	<tr>
		<td><b>Visa granted:</b></td>
		<td>
			<%= check_box_tag :visa_granted, "1", 
				params[:visa_granted] %>
		</td>
	</tr>
	<tr>
		<td><b>Visa rejected:</b></td>
		<td>
			<%= check_box_tag :visa_rejected, "1", 
				params[:visa_rejected] %>
		</td>
	</tr>
	<tr>
		<td>
			Check-in:
		</td>
		<td>
			<%= select_tag(:checkin, options_for_select([['Show all', 0], ['Checked in',1], ['Not checked in', 2]], params[:checkin].to_i)) %>
		</td>
	</tr>
</table>

<%= submit_tag 'Search' %><br>
<% end %>
