<style>
	body, td {
		font-family: Verdana;
		font-size: 8pt;
	}
</style>
<% @participants.each do |participant| %>
<h3>Personal information:</h3>
<table cellspacing="0" cellpadding="2">
	<tr>
		<td><b>ID:</b></td>
		<td colspan="4"><%= participant.id %></td>
	</tr>
	<tr valign="top">
		<td width="120"><b>First name: </b></td>
		<td><%= participant.first_name %></td>
		<td width="20"></td>
		<td width="100"><b>Telephone: </b></td>
		<td><%= participant.phone %></td>
	</tr>
	<tr class="alternate" valign="top">
		<td><b>Middle name: </b></td>
		<td><%= participant.middle_name %></td>
		<td width="20"></td>
		<td><b>Fax/facsimile: </b></td>
		<td>
			<%= participant.fax %>
		</td>
	</tr>
	<tr valign="top">
		<td><b>Last name: </b></td>
		<td><%= participant.last_name %></td>
		<td width="20"></td>
		<td><b>Email address: </b></td>
		<td><%= participant.email %></td>
	</tr>
	<tr class="alternate" valign="top">
		<td>
			<b>Address: </b>
		</td>
		<td>
			<%= participant.address1 %>
		</td>
		<td width="20"></td>
		<td><b>Nationality: </b></td>
		<td><%= participant.nationality %></td>
	</tr>
	<tr valign="top">
		<td>
		</td>
		<td>
			<%= participant.address2 %>
		</td>
		<td width="20"></td>
		<td><b>Date of birth: </b></td>
		<td><%= participant.birthdate %></td>
	</tr>
	<tr class="alternate" valign="top">
		<td>	
			<b>ZIP code: </b>
		</td>
		<td><%= participant.zipcode %></td>
		<td width="20"></td>
		<td><b>Sex:</b></td>
		<td><%= participant.sex == 'm' ? 'Male' : 'Female' %></td>
	</tr>
	<tr valign="top">
		<td><b>City/Town:</b></td>
		<td><%= participant.city %></td>
		<td width="20"></td>
		<td><b>University: </b></td>
		<td><%= participant.university %>	</td>
	</tr>
	<tr class="alternate" valign="top">
		<td><b>Country:</b></td>
		<td><%= participant.country.name %></td>
		<td width="20"></td>
		<td><b>Field of study: </b></td>
		<td><%= participant.field_of_study %>	</td>
	</tr>
	<tr valign="top">
		<td><b>Organization name:</b></td>
		<td><%= participant.org_name %></td>
		<td></td>
		<td><b>Workshop 1:</b></td>
		<td><%= participant.workshop1 %></td>
	</tr>
	<tr class="alternate" valign="top">
		<td><b>Postion: </b></td>
		<td><%= participant.org_function %></td>
		<td></td>
		<td><b>Workshop 2: </b></td>
		<td><%= participant.workshop2 %></td>
	</tr>
</table
<table>
	<tr>
		<td colspan="2">
			<h3>Essay 1 - Background  </h3>
			<%= format(participant.essay1) %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Essay 2 - Workshops  </h3>
			<%= format(participant.essay2) %>
		</td>
	</tr>
</table>
<div style="page-break-after:always"></div>
<% end %>
