<div class="well">
  <%if Position.published.count == 0 %>
    <%if Language.to_s == "no"%>
      ISFiT har for øyeblikket ikke opptak.
    <%else%>
      ISFiT does not have any open positions at the moment.
    <%end%>
  <%else%>
    <% content_for :script do %>
      <%= javascript_include_tag 'new_applicant' %>
    <%end%>
    <h1><%= t("position.form")%></h1>
    <%= render 'partials/error', :locals=> {:model => @applicant} %>

    <p><%= t("position.fill_in") %></p>

    <%= simple_form_for(@applicant, :input_html => { 
      :class => 'form-horizontal' }, 
      :url => {
      :controller => :positions, 
      :action => :save
    }) do |f| %>


    <fieldset>
      <legend>
        <%= t('position.personal_info') %>
      </legend>

      <%= f.input :firstname, :input_html => {
        :class => 'span5',
        :placeholder => t('person.first_name')
      } %>

    <%= f.input :lastname, :input_html => {
      :class => 'span5',
      :placeholder => t('person.last_name')
    } %>

  <%= f.input :mail, :input_html => {
    :type => 'email',
    :class => 'span5',
    :placeholder => t('person.email_ntnu')
  } %>

<%= f.input :phone, :input_html => {
  :type => 'tel', 
  :class => 'span5',
  :placeholder => t('person.phone_nor')
} %>
  </fieldset>

  <fieldset>
    <legend><%= t("position.application") %></legend>

    <%= f.input :position_id_1, :collection => @positions, :input_html => {
      :class => 'span5'
    } %>

  <%= f.input :position_id_2, :collection => @positions, :input_html => {
    :class => 'span5'
  } %>

<%= f.input :position_id_3, :collection => @positions, :input_html => {
  :class => 'span5'
} %>

    <%= f.input :information, :input_html => {
      :rows => 3,
      :class => 'span5'
    } %>

  <%= f.input :background, :input_html => {
    :rows => 3,
    :class => 'span5'
  } %>

<!--
<p>
<b><%= t("position.hear_about") %>:</b><br>
<%= f.text_area(:heardof,:cols => 63, :rows=>5)%><br>
</p>
-->
<div class="type-button">
  <%= f.button :submit %>
</div>
<% end %>

<%end%>
</div>
