<div class="well">
  <% if @positions.count == 0 %>
    <%if Language.to_s == "no"%>
      ISFiT har for øyeblikket ikke opptak. 
    <%else%>
      ISFiT does not have any open positions at the moment.
    <%end%>
  <% else %>
    <h1 class="page-header"><%= t("position.motivational") %></h1>

    <div class="pull-right" style="margin-left: 1em;">
      <%=link_to t("position.form"), apply_positions_path, class: "btn btn-primary btn-large"%>
    </div>

    <div class="lead"><%= raw format("Som frivillig på ISFiT får du være med å planlegge og gjennomføre det som blir verdens største internasjonale studentfestival. ISFiT er en av gjengene på [Studentersamfundet](http://www.samfundet.no) og du får være med på all moroa det medbringer. Vi lover at det blir sosialt, gøy og engasjerende.<br>Lover du å søke?<br> <br>__Søknadsfrist 31. oktober klokken 23:59.__") %></div>
    <div class="lead"><p>Vil du vite mer?</p><p><a href="http://www.facebook.com/events/250978661691492/">Kom på infomøte den 29. oktober kl. 16:00 på Samfundet</a>.</p></div>
    
    <% active_group = nil %>
    <% active_section = nil %>
    <% for position in @positions %>
      <% if not position.group == active_group %>
        <% if not active_group.nil? %>
        </table>
      <% end %>
      <% if position.group and position.group.section and not position.group.section == active_section %>
        <h1><%= position.group.section.name %></h1>
        <%= position.group.section.description %>
      <% end %>
      <h3><%=h position.group.name %></h3>
      <table class="table table-clickable table-striped">
      <% end %>
      <tr>
        <td>
          <p><%= link_to "#{position.title}", position, class: "position", title: position.description %></p>
        </td>
      </tr>
      <% active_group = position.groups.first %> 
      <% active_section = position.group.section %>
    <%end%>
  </table>
<% end %>
<img src="http://i.imgur.com/PeXSj.jpg">
<small>fotogjengen.samfundet.no</small>
</div>
