<div class="well">
  <% if @positions.count == 0 %>
    <%if Language.to_s == "no"%>
      ISFiT har for øyeblikket ikke opptak. 
    <%else%>
      ISFiT does not have any open positions at the moment.
    <%end%>
  <% else %>
    <h1><%= t("position.motivational") %></h1>
    <%= raw format("##yt hxUO456dsLw yt##") %>
    <div class="fb-like" data-href="<%= positions_url %>" data-send="false" data-width="550" data-show-faces="true"></div>
    <%= raw format(t("position.new_positions")+":") %>
    <% active_group = nil %>
    <% active_section = nil %>
    <% for position in @positions %>
      <% if not position.group == active_group %>
        <% if not active_group.nil? %>
        </table>
      <% end %>
      <% if position.group and position.group.section and not position.group.section == active_section %>
      <% end %>
      <h2><%=h position.group.name %></h2>
      <table class="table table-clickable table-striped">
      <% end %>
      <tr>
        <td>
          <%= link_to "#{position.title}", position, class: "position", title: position.description %>
        </td>
      </tr>
      <% active_group = position.groups.first %> 
      <% active_section = position.groups.first.section %>
    <%end%>
  </table>
<% end %>
</div>
