<div class="well">
  <% if @positions.count == 0 %>
    <%if Language.to_s == "no"%>
      ISFiT har for øyeblikket ikke opptak. 
    <%else%>
      ISFiT does not have any open positions at the moment.
    <%end%>
  <% else %>
    <h1 class="page-header"><%= t("position.motivational") %></h1>

    <div class="pull-right" style="margin-left: 1em;">
      <%# link_to t("position.form"), new_applicant_user_path, class: "btn btn-primary btn-large"%>
    </div>
    <% if Language.to_s == "no" %>
    <div class="lead"><%= raw format("Her finner du alle stillingsbeskrivelser for mellomlederopptaket 3. februar. Ved å klikke deg inn på den enkelte seksjon får du info om seksjonen samt de tilhørende stillingsbeskrivelsene. Søknadsfristen er nå ute, men du kan fortsatt lese om de forskjellige stillingene her.") %></div>
  <% else %>
    <div class="lead"><%= raw format("As a volunteer at ISFiT, you will contribute to make the world's largest international student festival a true success. We promise that you will make new friendships, meet other dedicated students and have a lot of fun!") %></div>
    <div class="lead"><p>
    Be a part of something great and trade your ideas with us.
    </p></div>


    <div class="lead"><p>
      <strong>Application deadline: 31st of October at 23:59 (11:59 pm).</strong>
    </p></div>

    <div class="lead"><p>
    In order to apply, you need to be a student in Trondheim, Norway. 
    The descriptions of the available positions are written in Norwegian. 
    </p></div>
  <% end %>
    <% active_group = nil %>
    <% active_section = nil %>
    <% @positions.each_with_index do |position, i| %>
      <% if not position.group == active_group %>
        <% if i.eql? 0 %>
          <h3><%= link_to position.group.section.name, positions_section_path(position.group.section.id) %></h3><ul>
        <% elsif position.group and position.group.section and not position.group.section == active_section %>
          </ul><h3><%= link_to position.group.section.name, positions_section_path(position.group.section.id) %></h3>
          <ul>
        <% end %>
      <% end %>
      <li>
        <%= "#{position.title}" %>
      </li>
      <% active_group = position.groups.first %> 
      <% active_section = position.group.section %>
    <%end%>
  <% end %>
  </ul>
</div>
