<div class="well">
  <div class="pull-right">
    <%= link_to t('position.back_button_positions'), positions_path, :class => "btn btn-info" %>
  </div>


  <h1><%= @section.name %></h1>
  <div class="justified">
    <%= raw format(@section.description) %>
  </div>
  <h2><%= t("position.positions") %></h2>
  <ul>
    <% @positions.each do |p| %>
      <li><%= link_to p.title, position_path(p.id), class: "position" %></li>
    <% end %>
  </ul>
</div>
