



<div id="article-wrapper" class="well">

	<div id="submit-ideas-wrapper">
		<header>
			<h1>Submit your idea</h1>
		</header>

		<%= form_for @idea, :url=> {:action => 'create'} do |f| %>
  			<%= f.text_area :body, :placeholder => 'Your idea' %>
  			<%= f.text_field :email, :placeholder => 'Your email' %>
  			Share on Twitter<input type="checkbox">
  			Share on Facebook<input type="checkbox">
  			<%= f.submit "Send" %>
		<% end %>

	</div>


	<div id="ideas-wrapper">
		<header>
			<h1>Ideas</h1>
		</header>

	<% @ideas.each do |idea| %>
	<article class="idea">
		<div id="ideas-fbwidget" class="fb-like" data-href="http://isfit.org/ideas/<%= idea.id %>" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false"></div>


		<p class="idea-body"><%= idea.body %></p>
		<p class="idea-email">
			<img src="http://lorempixel.com/48/48/people" />
			<%= idea.email %>
		</p>


		<p><a href="/ideas/<%= idea.id %>" class="permalink">Permalink</a></p> <!-- TODO -->

	</article>
	<% end %>
	</div>
</div>








<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/nb_NO/all.js#xfbml=1&appId=134691243236387";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>