<h1>Listing economy_contact_unit_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for economy_contact_unit_type in @economy_contact_unit_types %>
  <tr>
    <td><%=h economy_contact_unit_type.name %></td>
    <td><%= link_to 'Show', economy_contact_unit_type %></td>
    <td><%= link_to 'Edit', edit_economy_contact_unit_type_path(economy_contact_unit_type) %></td>
    <td><%= link_to 'Destroy', economy_contact_unit_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New economy_contact_unit_type', new_economy_contact_unit_type_path %>
