<h1>Listing quiz_choices</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Description</th>
    <th>Points</th>
  </tr>

<% @quiz_choices.each do |quiz_choice| %>
  <tr>
    <td><%=h quiz_choice.question %></td>
    <td><%=h quiz_choice.description %></td>
    <td><%=h quiz_choice.points %></td>
    <td><%= link_to 'Show', quiz_choice %></td>
    <td><%= link_to 'Edit', edit_quiz_choice_path(quiz_choice) %></td>
    <td><%= link_to 'Destroy', quiz_choice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quiz_choice', new_quiz_choice_path %>