<h1>Listing imf_contact_comments</h1>

<table>
  <tr>
    <th>Functionary</th>
    <th>Content</th>
    <th>Imf contact unit</th>
  </tr>

<% for imf_contact_comment in @imf_contact_comments %>
  <tr>
    <td><%=h imf_contact_comment.functionary_id %></td>
    <td><%=h imf_contact_comment.content %></td>
    <td><%=h imf_contact_comment.imf_contact_unit_id %></td>
    <td><%= link_to 'Show', imf_contact_comment %></td>
    <td><%= link_to 'Edit', edit_imf_contact_comment_path(imf_contact_comment) %></td>
    <td><%= link_to 'Destroy', imf_contact_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New imf_contact_comment', new_imf_contact_comment_path %>
