<style type="text/css">
	table {font-size: 14px;}
</style>
<%if params[:car]%>
	<h1>Date: <%=@day.strftime("%A")%>, <%=@day.strftime("%d")%>. <%=@day.strftime("%B")%></h1>
	<h1>Car: <%=Car.find(:first, :conditions=>"id=#{params[:car]}").name%></h1>
	<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc" border ="1">
		<%i=0%>
		<tr>
			<th width=35 align=left>#</th>
			<th width=100 align=left>Time:</th>
			<th width=80 align=left>Car:</th>
			<th width=120 align=left>Travel route</th>:
			<th width = 200 align = left>Comment</th>
			<th width = 80 align = left>Unit</th>
			<th width=180 align=left>Reserved by:</th>
		</tr>
		<%@reservation.each do |res|%>
			<%i+=1%>
			<tr>
				<td><%=i%></td>
				<td><%=res.time_from.strftime("%H:00")%> - <%=res.time_to.strftime("%H:00")%></td>
				<td><%=Car.find(:first, :conditions => "id = #{res.car_id}").name%></td>
				<td><%=res.route%></td>
				<td><%=res.comment%></td>
				<td><%=LdapUnit.get_by_dn(res.group_dn).description%></td>
				<td><%=LdapUser.get_by_id(res.user_id).firstname%> <%=LdapUser.get_by_id(res.user_id).lastname%> (<%=LdapUser.get_by_id(res.user_id).phones%>)</td>
			</tr>
		<%end%>	
	</table>
<%else%>
	<h1>Date: <%=@day.strftime("%A")%>, <%=@day.strftime("%d")%>. <%=@day.strftime("%B")%></h1>
	<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc" border ="1">
		<%i=0%>
		<tr>
			<th width=35 align=left>#</th>
			<th width=100 align=left>Time:</th>
			<th width=80 align=left>Car:</th>
			<th width=120 align=left>Travel route:</th>
			<th width=200 align = left>Comment</th>
			<th width=80 align =left>Unit</th>
			<th width=180 align=left>Reserved by:</th>
		</tr>
		
		<%@reservation.each do |res|%>
			<%i+=1%>
			<tr>
				<td><%=i%></td>
				<td><%=res.time_from.strftime("%H:00")%> - <%=res.time_to.strftime("%H:00")%></td>
				<td><%=Car.find(:first, :conditions => "id = #{res.car_id}").name%></td>
				<td><%=res.route%></td>
				<td><%=res.comment%></td>
				<td><%=LdapUnit.get_by_dn(res.group_dn).description%></td>
				<td><%=LdapUser.get_by_id(res.user_id).firstname%> <%=LdapUser.get_by_id(res.user_id).lastname%> (<%=LdapUser.get_by_id(res.user_id).phones%>)</td>
			</tr>
		<%end%>	
	</table>
<%end%>
