<h1>Car Reservation</h1>
<%if params[:car]%>
	We have reserved the following reservations for <%=@day.strftime("%A")%>, <%=@day.strftime("%d")%>. <%=@day.strftime("%B")%> with the car "<%=Car.find(:first, :conditions=>"id=#{params[:car]}").name%>":<br><br>
	<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
		<%i=0%>
		<tr <%= i % 2 == 0 ? " class=\"alternate\"" : "" %>>
			<th width=35 align=left>#
			<th width=120 align=left>Time:
			<th width=80 align=left>Car:
			<th width=120 align=left>Travel route:
			<th width = 120 align = left>Comment
			<th width = 80 align = left>Unit
			<th width=180 align=left>Reserved by:
		<%@reservation.each do |res|%>
			<%i+=1%>
			<tr <%= i % 2 == 0 ? " class=\"alternate\"" : "" %>>
				<td><%=i%>
				<td><%=res.time_from.strftime("%H:00")%> - <%=res.time_to.strftime("%H:00")%>
				<td><%=Car.find(:first, :conditions => "id = #{res.car_id}").name%>
				<td><%=res.route%>
				<td><%=res.comment%>
				<td><%=LdapUnit.get_by_dn(res.group_dn).description%>
				<td><%=LdapUser.get_by_id(res.user_id).firstname%> <%=LdapUser.get_by_id(res.user_id).lastname%> (<%=LdapUser.get_by_id(res.user_id).phones%>)
		<%end%>	
	</table><br>
<%=link_to "View printable version", :controller => "car_reservation", :action =>"details_print", :month => params[:month], :day => params[:day], :car => params[:car]%>
<%else%>
	We have reserved the following reservations for <%=@day.strftime("%A")%>, <%=@day.strftime("%d.%b")%>:<br><br>
	<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
		<%i=0%>
		<tr <%= i % 2 == 0 ? " class=\"alternate\"" : "" %>>
			<th width=35 align=left>#
			<th width=120 align=left>Time:
			<th width=80 align=left>Car:
			<th width=120 align=left>Travel route:
			<th width=120 align = left>Comment
			<th width=80 align =left>Unit
			<th width=180 align=left>Reserved by:
		
		<%@reservation.each do |res|%>
			<%i+=1%>
			<tr <%= i % 2 == 0 ? " class=\"alternate\"" : "" %>>
				<td><%=i%>
				<td><%=res.time_from.strftime("%H:00")%> - <%=res.time_to.strftime("%H:00")%>
				<td><%=Car.find(:first, :conditions => "id = #{res.car_id}").name%>
				<td><%=res.route%>
				<td><%=res.comment%>
				<td><%=LdapUnit.get_by_dn(res.group_dn).description%>
				<td><%=LdapUser.get_by_id(res.user_id).firstname%> <%=LdapUser.get_by_id(res.user_id).lastname%> (<%=LdapUser.get_by_id(res.user_id).phones%>)
		<%end%>	
	</table><br><br><br><br>
	
	Show only the reservations on this date for this car:
	<table>
		<tr>
			<%@cars.each do |car|%>
				<td width=80 align=left><%=link_to "#{car.name}", :controller => "car_reservation", :action =>"details", :car => car.id, :month => params[:month], :day => params[:day]%>
			<%end%>
	</table><br>
<%=link_to "View printable version", :controller => "car_reservation", :action =>"details_print", :month => params[:month], :day => params[:day]%>
<%end%>