<h1>
	Edit contact relations for 
	<%=@contact.first_name%> <%=@contact.last_name%>
</h1>
You are here: 
<%= link_to('List', {:action => 'index'}) %> > 
<%= link_to('Edit', {:action => 'add', :id=>params[:id]}) %> > 
<b>Contact Relations</b>
<br /><br />
Please select who this contact should be contacted through. You can select more
 than one person by holding down the CTR button on the keyboard while selecting.
<br /><br />

<% form_for :contact_relation, @contact_relation, 
	:url => { :action => "contact_relation" }  do |f| %>

<select size="20" style="width: 300px; text-align: left" 
	name="contact_via[]" id="contact_via"  multiple>
<% sel = "" %>
<% @contacts.each do |cont| %>
	<% 	if ((Contact_relation.find(:all,
				:conditions=>"contact_via_id=#{cont.id} and 
				contact_id=#{@contact.id}")).length > 0)
		  sel = "selected"
	   	else
		  sel = ""
		end
	%>
	<option value="<%=cont.id%>" <%=sel%>> 
		<%= cont.first_name %> <%=cont.last_name%>
	</option>

<% end %>
</select>
<br />
<%= submit_tag 'Save'%>
<% end %>
