<h3>Order Food!</h3>
<%=link_to "Friday 20. February", :action=>"food_order_outside", :id => "1"%> <br />
<%=link_to "Saturday 21. February", :action=>"food_order_outside", :id => "2"%><br />
<%=link_to "Sunday 22. February", :action=>"food_order_outside", :id => "3"%><br />
<%=link_to "Monday 23. February", :action=>"food_order_outside", :id => "4"%><br />
<%=link_to "Tuesday 24. February", :action=>"food_order_outside", :id => "5"%><br />
<%=link_to "Wednesday 25. February", :action=>"food_order_outside", :id => "6"%><br />
<%=link_to "Thursday 26. February", :action=>"food_order_outside", :id => "7"%><br />
<%=link_to "Friday 27. February", :action=>"food_order_outside", :id => "8"%><br />
<%=link_to "Saturday 28. February", :action=>"food_order_outside", :id => "9"%><br />
<%=link_to "Sunday 1. March", :action=>"food_order_outside", :id => "10"%><br />