<% if Language.to_s == "no" %>
  <%= content_for :header do %>
    <div class="hero-unit">
      <div class="action-text">
        <h1><%= t("call-to-action.header") %></h1>
        <p><%= raw format t("call-to-action.paragraph") %></p>
        <p>
          <%if Language.to_s == "no"%>
            <!-- Knapp -->
          <% else %>
            <%= link_to t("call-to-action.apply_now"), new_participant_path, class: "btn btn-primary btn-large" %>
          <% end %>
          <%if Language.to_s == "no"%>
            <%= link_to t("call-to-action.learn_more"), page_path(60), class: "btn btn-large btn-primary" %>
          <% else %>
            <%= link_to t("call-to-action.learn_more"), page_path(61), class: "btn btn-large" %>
          <% end %>
        </p>
      </div>
      <div class="media">
        <%= link_to image_tag("http://i.imgur.com/3KSZs.png"), page_path(60) %>
      </div>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="span8">
    <div id="news-carousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @articles.each do |article| %>
          <div class="item <%= article == @articles.first ? "active":"" %>">
            <a href="<%= article_path(article) %>">
              <%= image_tag article.frontend_article_image.url(:frontpage_large), height: "363px" %>
              <div class="carousel-caption">
                <h1><%= article.title %></h1>
                <p><%= article.sub_title %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#news-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#news-carousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span4">
    <aside id="sidebar"><!-- Start hoyreramme -->
    <div class="promotional">
      <%if Language.to_s == "no"%>
          <a href="http://www.studentpeaceprize.org"><img src="http://i.imgur.com/0JiyF.png" alt="promotional"></a>
        <% else %>
          <a href="/pages/3"><img src="http://i.imgur.com/8Ub4m.png" alt="promotional"></a>
        <% end %>
    </div>

    <div class="promotional">
      <%if Language.to_s == "no"%>
          <a href="/pages/60"><img src="http://i.imgur.com/ZbQe5.png" alt="promotional"></a>
        <% else %>
          <a href="/pages/60"><img src="http://i.imgur.com/yEZbX.png" alt="promotional"></a>
        <% end %>
    </div>

    </aside><!-- Slutt hoyreramme -->
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="well social facebook">
      <div class="fb-like-box" data-href="http://www.facebook.com/pages/ISFiT/11541693212" data-width="300" data-show-faces="true" data-border-color="#fff" data-stream="false" data-header="false"></div>
    </div>
  </div>
  <div class="span4">
    <div class="well social twitter" id="widget-twitter-fp">
      <header>
        <h1>Twitter</h1>
      </header>
      <section class="twitter-widget-fp-content">
      </section>
      <a href="https://twitter.com/ISFiT" class="btn twitter-follow-button pull-right" data-show-count="false" data-size="large">Follow @ISFiT</a>
    </div>
  </div>
  <div class="span4">
    <div class="well social articles">
      <h1><%= t("articles.latest_articles") %></h1>
      <ul>
        <% @latest.each do |article| %>
          <li><%= link_to article.title, article_path(article) %></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
