<%= content_for :meta do %>
  <meta property="og:title" content="<%if @article.title_en != ""%><%=@article.title_en%><%else%><%=@article.title_no%><%end%> - ISFIT 2015"/>
  <meta property="og:type" content="non_profit"/>
  <meta property="og:image" content="http://www.isfit.org<%= @article.frontend_article_image.url(:frontpage_large) %>"/>
  <meta property="og:url" content="<%=(request.url).match(/([A-Za-z0-9:._\/]+)/)[1]%>"/>
  <meta property="og:site_name" content="ISFiT 2015"/>
  <meta property="fb:app_id" content="111446192243028"/>
  <meta property="og:description" content="<%=@article.ingress%>"/>
<%end%>


<% if @article.body == "" && @article.ingress == ""
in_language = false
else
  in_language = true
end%>

<%= content_for :header do %>

  <header id="article-header">
  <% if @article.frontend_article_image? %>
    <%= image_tag @article.frontend_article_image.url(:article_large) %>
  <% else %>
    <%=image_tag "article_images/"+@article.id.to_s + "_3.jpg"%><br>
  <% end %>
  <caption>
    <% if I18n.locale.to_s == 'no' %>
      <%=@article.image_text_no%>
    <%else%>
      <%=@article.image_text_en%>
    <%end%>
  </caption>

  <div class="header-text">
    <h1>
      <%if in_language%>
        <%= @article.title %>
      <%else%>
        <%= I18n.locale.to_s == 'no' ? @article.title_en : @article.title_no%>
      <%end%>
    </h1>
    <section class="article-ingress">
    <%=raw format(I18n.locale.to_s == 'no' ? @article.ingress_no : @article.ingress_en) %>
    </section>


    <section class="article-credits">
    <span>Text: <%=raw @article.byline%>
      <%if @article.image_credits != ""%>
        Photo: <%=raw @article.image_credits%>
      <%end%>
      Date: <%=  @article.created_at.strftime("%F")%></span>
    </section>



  </div>




<% end %>
</header>





<div id="article-wrapper" class="well">



  <article id="article">

  <% unless in_language%>
    <div class="alert">
      <button class="close" data-dismiss="alert">×</button>
      We are sorry, but the article is not available in your language.
    </div>
  <%end%>




  <div>
    <section class="article-text">
    <div class="fb-like pull-right" data-href="<%= article_url(@article) %>" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false"></div>
    <%= raw format( I18n.locale.to_s =='no' ? @article.body_no : @article.body_en) %>
    </section>
  </div>
  <!-- Just playing around... -->






  </article>


  <%if @article.got_comments%>
    <div class="fb-comments" data-href="<%= article_url(@article) %>" data-num-posts="2" data-width="550"></div>
  <%end%>

</div>
<%= render 'sidebar' %>
