<%

	def filter(id)
		if params[:filter] and Functionary.exists?(id)
			f = Functionary.find(id)
			(params[:filter][:miss_ntnu] == '1' and 
				(f.cardnumber_ntnu != nil and f.cardnumber_ntnu != 0)) or
			(params[:filter][:not_ntnu] == '1' and 
				(f.cardnumber_ntnu != nil and f.cardnumber_ntnu != -1)) or
			(params[:filter][:miss_isfit] == '1' and 
				(f.cardnumber_isfit != nil and f.cardnumber_isfit != 0)) or
			(params[:filter][:miss_samfundet] == '1' and 
				(f.cardnumber_samfundet != nil and f.cardnumber_samfundet != 0))
		else
			false
		end
	end

%>
<h3> <%= group.description %> </h3>
<% form_for :details_data, @details_data do |g| %>
<table cellpadding="5" style="padding-left: 10px;margin-left:2px;border-left:4px solid #ccc">
<tr>
	<td> <%= "Name" %> </td>
	<td> <%= "Stilling" %> </td>
	<td> <%= "Phone no." %> </td>
	<td> <%= "NTNU card no." %> </td>
	<td> <%= "ISFiT card no." %> </td>
	<td> <%= "Samf. card no." %> </td>
	<td> <%= "Contact person" %> </td>
</tr>		

<% group.functionaries.each do |f| %>
<% user = LdapUser.get_by_dn(f.dn) %>
<% if user.unit.dn == group.dn and not filter(user.id) %>
<% d = @details[f.id] %>
	<tr>
		<td><%= link_to("#{user.name}",  :controller => "user", :action => "show", :id => user.dn) %></td>
		<td><%= user.title %></td>
		<td><%= user.phones.join(', ') %></td>

		<td><%= g.text_field "ntnu_#{f.id}", {:size => 15, :value => d ? d.cardnumber_ntnu : ""} %></td>
		<td><%= g.text_field "isfit_#{f.id}", {:size => 15, :value => d ? d.cardnumber_isfit : ""} %></td>
		<td><%= g.text_field "samfundet_#{f.id}", {:size => 15, :value => d ? d.cardnumber_samfundet : ""} %></td>
		<td><%= d ? "Name: #{d.next_of_kin_name},  Phone: #{d.next_of_kin_tlf}" : "" %></td>

	</tr>
<% end %>
<% end %>
</table>
<br />
<%= g.submit %>
<% end %>
