<div class="well">
	<div class="pull-right"><%= link_to "Logg ut", logout_path, class: "btn" %></div>
	<b>Brukernavn:</b> <%= @applicant_user.mail %>

	<%= link_to('Rediger søknad', edit_position_path(@applicant_user.applicant.id), class: "btn pull-right") if @applicant %>

	<%= link_to('Skriv søknad', apply_positions_path, class: "btn btn-primary pull-right") if @applicant.nil? %>

	<%= render 'info' if @applicant %>
</div>