<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag :defaults  %>
<%= javascript_include_tag "calendar_date_select/calendar_date_select.js"%>
<%= stylesheet_link_tag "calendar_date_select" %>
<%= calendar_date_select_includes "red"%>
<%# CalendarDateSelect.format = :iso_date %>

<h1><%= params[:id] ? "Edit event" : "Create new event" %></h1>
<% form_for :event, @event, :html=> { :multipart => true },
	:url => { :action => "create", 
	:id => params[:id]  } do |f|
%>
<table>
	<tr>
		<td width="80">Title:</td>
		<td><%= f.text_field :title, :style => "width: 500px" %></td>
	</tr>
	<tr>
		<td>Text:</td>	  
		<td><%= f.text_area :body, :style => "width: 500px" %></td>
	</tr>
	<tr>
		<td>Start time:</td>
		<td>
			<% if params[:date] %>
				<%= f.calendar_date_select :start, :time => true, :value => (params[:date].to_s + " #{(Time.now + 60*60*1).strftime("%H:%M")}")%>
				<%#= f.calendar_date_select :start, :time => true, :value => params[:date]%>
			<% else %>
				<%= f.calendar_date_select :start, :time => true%>
			<% end%>
		</td>
	</tr>
	<tr>
		<td>End time:</td>
		<td>
			<%= f.calendar_date_select :stop, :time => true%>
		</td>
	</tr>
	<tr>
		<td>Date format:</td>
		<td> YYYY-MM-DD HH:MM</td>
	</tr>
	
	<tr>
		<td>Recipients:</td>
		<td>
			<%= select(:event, :group_dn, @units) %><br />
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			Note that if you choose e.g. Culture, 
			every group within Culture will be able to view this article.
		</td>
	</tr>
	<tr>
		<td>Attendants?:</td>
		<td>
			<%= f.check_box "attendants"%><br />
		</td>
	</tr>
	<tr>
		<td></td>
		<td colspan = 2>If you check off attendants, people who can see the event will have the option to RSVP</td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit %></td>
	</tr>
</table>
<% end %>
