<h1>New page</h1>
<style>
	.leftline {
		padding-left: 10px;
		margin-left: 2px;
		border-left: 4px solid #ccc;
	}
</style>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>
<h2>Content</h2>
  <h3>English version</h3>
  <div class="leftline">
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title_en, :style => "width: 80%" %>
  </p>
  <p>
    <%= f.label :ingress %><br />
    <%= f.text_area :ingress_en , :style => "width: 80%"%>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body_en , :style => "width: 80%"%>
  </p>
</div>
 <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', spp_pages_path %>
