<div class="content">
<%if @picture%>
<div style="float:right; margin-left:20px; margin-top:20px; margin-bottom: 10px;  text-align:center">

<%#=image_tag "aboutpic.png", :style=>'float: right; margin-left:20px; margin-bottom: 20px' %>
<%=image_tag @picture_path %><br />
<%=@page.image_text%>
</div>
<%end%>
<span class="otherart">
<h1><%=@page.title_en%></h1>
<h2><%=@page.ingress_en%></h2>
<%=format(@page.body_en)%>
</span>
</div>

<%= link_to 'Edit', edit_spp_page_path(params[:tab],@page) %> |
<%= link_to 'Back', spp_pages_path %>
