<h1>Showing contact <%= @economy_contact_person.firstname %> <%= @economy_contact_person.lastname %> for <%=h @economy_contact_person.economy_contact_unit.name %></h1>
<% if @economy_contact_person.deleted == 1 %>
  <h2>The contact has been deleted</h2>
<% end %>
<p>
  <b>Title:</b>
  <%=h @economy_contact_person.title %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @economy_contact_person.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @economy_contact_person.lastname %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @economy_contact_person.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @economy_contact_person.phone2 %>
</p>

<p>
  <b>Email:</b>
  <%=h @economy_contact_person.email %>
</p>

<p>
  <b>Comment:</b>
  <%=h @economy_contact_person.comment %>
</p>



<%= link_to 'Edit', edit_economy_contact_person_path(params[:tab],@economy_contact_person) %> |
<%= link_to 'Back', economy_contact_unit_url(params[:tab],@economy_contact_person.economy_contact_unit_id) %>
