<h1>Editing <%=h @imf_contact_unit.name %></h1>

<% form_for(@imf_contact_unit, :url => { :controller => "imf_contact_units", :tab => params[:tab], :action => :update}, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= f.select 'imf_contact_status_id', ImfContactStatus.to_select %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Specific address name" %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.label :Country %><br />
    <%= f.select 'country_id', Country.to_select %>
  </p>
  <p>
    <%= f.label :upload, 'File' %><br />
    <%= file_field_tag "file" %>
  </p>
  <p>
    <%= f.label :Responsible %><br />
    <%= f.select 'ldap_responsible_id', @units_to_select %>
  </p>
  <p>
    <%= f.label "Who sent?" %><br />
    <%= f.select 'ldap_sent_person_id', @units_to_select %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', imf_contact_unit_url(params[:tab],@imf_contact_unit) %> |
<%= link_to 'Back', imf_contact_units_path %>
