<h1>Listing Units</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Name</th>
    <th>Responsible</th>
  </tr>

<% row = 1 %>
<% for imf_contact_unit in @imf_contact_units %>
   <tr<%= row  % 2 == 1 ? ' class="alternate"' : '' %>>
    <td><%=h imf_contact_unit.imf_contact_status.name %></td>
    <td><%= imf_contact_unit.name %></td>
  <% if LdapUser.get_by_id(imf_contact_unit.ldap_responsible_id) %>
    <td><%=h LdapUser.get_by_id(imf_contact_unit.ldap_responsible_id).firstname %> <%= LdapUser.get_by_id(imf_contact_unit.ldap_responsible_id).lastname %></td>
  <% else %>
    <td>Responsible missing!</td>
  <% end %>
    <td><%= link_to 'Show', imf_contact_unit_url(params[:tab], imf_contact_unit) %></td>
    <td><%= link_to 'Edit', edit_imf_contact_unit_url(params[:tab],imf_contact_unit) %></td>
 </tr>
 <% row += 1 %>
<% end %>
</table>

<br />

<%= link_to 'New unit', new_imf_contact_unit_path %>
