<h1>New unit</h1>

<% form_for(@imf_contact_unit, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Specific address name" %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.select 'country_id', Country.to_select  %>
  </p>
  <p>
    <%= f.label :responsible %><br />
    <%= f.select 'ldap_responsible_id', @units_to_select %>
  </p>
  <p>
    <%= f.label 'File' %><br />
    <%= file_field_tag "file" %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', imf_contact_units_path %>
