<h1>Functionary dietary needs</h1>
<%=link_to "All", :action=>"allergie", :allergie=>0%>		
<%=link_to "Vegetarian", :action=>"allergie", :allergie=>1%>		
<%=link_to "Lactose", :action=>"allergie", :allergie=>2%>		
<%=link_to "Gluten", :action=>"allergie", :allergie=>3%>		
<%=link_to "Nut allergie", :action=>"allergie", :allergie=>4%>		
<%=link_to "Fruit", :action=>"allergie", :allergie=>5%>		
<%=link_to "Other", :action=>"allergie", :allergie=>6%>		
<br />
<br />
<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
	<tr>
		<th width ="150" align ="center">Group</td>
		<th width ="150" align ="center">Firstname</td>
		<th width ="150" align ="center">Lastname</td>
		<th width ="150" align ="center">Vegitarian</td>
		<th width ="150" align ="center">Lactose</td>
		<th width ="150" align ="center">Gluten</td>
		<th width ="150" align ="center">Nut allergie</td>
		<th width ="150" align ="center">Fruit</td>
		<th width ="150" align ="center">Other</td>
	</tr>
	<%row = 1%>
	<%@functionaries_allergie.each do |functionary|%>
		<tr<%= row % 2 == 1 ? ' class="alternate"' : '' %>>
			<td align ="center"><%=LdapUser.get_by_id(functionary.id).unit.name%></td>
			<td align ="center"><%=LdapUser.get_by_id(functionary.id).firstname%></td>
			<td align ="center"><%=LdapUser.get_by_id(functionary.id).lastname%></td>
			<td align ="center"><%=@allergies[functionary.id][0]%></td>
			<td align ="center"><%=@allergies[functionary.id][1]%></td>
			<td align ="center"><%=@allergies[functionary.id][2]%></td>
			<td align ="center"><%=@allergies[functionary.id][3]%></td>
			<td align ="center"><%=@allergies[functionary.id][4]%></td>
			<td align ="center"><%=@allergies[functionary.id][5]%></td>
		</tr>
	<%row += 1%>	
	<%end%>
</table>