<% form_for(@chronicle) do |f| %>
  <% if @chronicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chronicle.errors.count, "error") %> prohibited this chronicle from being saved:</h2>

      <ul>
        <% @chronicle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author , :style => "width: 80%" %>
  </div>
</p>
  <div class="leftline">
    <div class="field">
      <%= f.label "English title" %><br />
      <%= f.text_field :title_en , :style => "width: 80%" %>
    </div>
    <div class="field">
      <%= f.label "English ingress" %><br />
      <%= f.text_area :ingress_en , :style => "height: 100px;width: 80%" %>
    </div>
    <div class="field">
      <%= f.label "English body" %><br />
      <%= f.text_area :body_en , :style => "width: 80%" %>
    </div> 
  </div>
  <br><br>
  <div class="leftline">
    <div class="field">
      <%= f.label "Norwegian title" %><br />
      <%= f.text_field :title_no , :style => "width: 80%" %>
    </div>
    <div class="field">
      <%= f.label "Norwegian ingress" %><br />
      <%= f.text_area :ingress_no , :style => "height: 100px;width: 80%" %>
    </div>

    <div class="field">
      <%= f.label "Norwegian body" %><br />
      <%= f.text_area :body_no , :style => "width: 80%" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <%= render :partial => "frontend_article/formatting" %>
