<div id="event-countdown-wrapper" style="opacity: 0;">
  <h4><%= t('layout.counter.event_countdown') %></h4>

  <div id="event-countdown-counters">
    <div class="counter">
        <p class="number"><span id="event-countdown-days">??</span></p>
        <p class="denominators"><%= t('layout.counter.days') %></p>
      </div>
      
      <div class="counter">
        <p class="number"><span id="event-countdown-hours">??</span></p>
        <p class="denominators"><%= t('layout.counter.hours') %></p>
      </div>
      
      <div class="counter">
        <p class="number"><span id="event-countdown-minutes">??</span></p>
        <p class="denominators"><%= t('layout.counter.minutes') %></p>
      </div>
      
      <div class="counter">
        <p class="number"><span id="event-countdown-seconds">??</span></p>
        <p class="denominators"><%= t('layout.counter.seconds') %></p>
      </div>
    </div>
</div>


<% content_for :script do %>


  <script type="text/javascript" src="/assets/moment.js"></script>

  <script type="text/javascript">
    $('#event-countdown-wrapper').ready(function(){
      $('#event-countdown-wrapper').css('opacity', 1);

      var total, seconds, minutes, hours, days, s, m, h, d;

      total = <%= total = Time.parse("2013-02-07 08:00").to_i - Time.now().to_i %>;

      window.setInterval(function(){
        total -= 1;

        s = total;
        m = Math.floor(s/60);
        h = Math.floor(m/60);
        days = Math.floor(h/24);

        hours = h-(days*24);
        minutes = m-(h*60);
        seconds = s-(m*60);

        if(seconds<0) {
          seconds = 59;
          minutes--;
        }
        if(minutes<0) {
          minutes = 59;
          hours--;
        }
        if(hours<0) {
          hours = 23;
          days--;
        }

        updateTime();
      }, 1000);

      function updateTime(unixtime) {
        $('#event-countdown-days').text(days);

        if(hours<10) {
          $('#event-countdown-hours').text('0' + hours);
        }
        else {
          $('#event-countdown-hours').text(hours);
        }
        if(minutes<10) {
          $('#event-countdown-minutes').text('0' + minutes);
        }
        else {
          $('#event-countdown-minutes').text(minutes);
        }
        if(seconds<10) {
          $('#event-countdown-seconds').text('0' + seconds);
        }
        else {
          $('#event-countdown-seconds').text(seconds);
        }
      }
    });
  </script>
<% end %>
