
<% unless @stream.nil? %>

<div class="row promo-row">

  <% if @stream.start_at <= (Time.now+1.hour) %>

  
  <div class="span12 varbox streambox">
    
    <a href="#videobox" title="Watch">
      <div class="clickwrapper">
        <h1>Now streaming <em><%= @stream.title %></em></h1>
        <p>Watch</p>
      </div>
    </a>

    <div id="videobox">
      <div class="video-wrapper">
        <%= raw @stream.embed_id %>
        <p><a href="#">Close</a></p>
      </div>
    </div>
  </div>

  <% else %>

  <div class="span12 varbox streambox">
    <div class="clickwrapper">
      <h1>Next stream: <em><%= @stream.title %></em></h1>
      <p>See it here <%= @stream.start_at.strftime('%H:%M') %></p>
    </div>
  </div>

  <% end %>

</div>


<% content_for :script do %>
<script>

  // todo. if i'm feeling particulary masochistic

  // $(function(){
  //   var hours = <%= @stream.start_at.strftime('%H').to_i - Time.now.strftime('%H').to_i %>;
  //   var minutes = <%= @stream.start_at.strftime('%M').to_i - Time.now.strftime('%M').to_i %>;
    
  //   $('#stream-countdown-hours').text(hours);
  //   $('#stream-countdown-minutes').text(minutes);
    
  // });

</script>

<% end %>
<% end %>