<tr>
	<td>
		<h1>
			<%= event.title%>
			<span class="meta">
				by
				<%= link_to LdapUser.get_by_id(event.user_id).firstname + " " +
					LdapUser.get_by_id(event.user_id).lastname, 
					:controller => "user", :action => "show", 
					:id => LdapUser.get_by_id(event.user_id).dn %>
				(<%= LdapUser.get_by_id(event.user_id).unit.description %>) for
				<%= LdapUnit.get_by_dn(event.group_dn).description %>

				<% if current_user.id == event.user_id %>
		        <%= link_to(image_tag("icon/edit.png", :alt => "Edit",
						:title => "Edit", :border => 0),
						{
							:controller => "calendar_event", :action => "create",
							:id => event.id
						}) 
				%>
		        <%= link_to(image_tag("icon/trash.png", :alt => "Delete",
						:title => "Delete", :border => 0),
						{
							:controller => "calendar_event", :action => "delete",
							:id => event.id
						},
						:confirm => 'Are you sure you want to delete this event?')
		 		%>
				<% end %>

			</span>
		</h1>
	</td>
	<td></td>
</tr>

<tr>
	<td>
			<strong><%= event.start.strftime("%H:%M")%></strong> <%= event.start.strftime("%d %b %Y")%> -> <strong><%= event.stop.strftime("%H:%M")%></strong> <%= event.stop.strftime("%d %b %Y")%>
			<% if event.attendants == true%>
				<% val = CalendarEventController.get_current_RSVP(event.id,current_user.id)%>
				Current RSVP: <%=$rsvp_text[val-1]%>
			<%end%>
			<p>
				<%= format(event.body)%>
			</p>
		
	</td>

	<td valign = "top" style="padding-left: 40px" width = "40%">
		<% if event.attendants == true%>
			<% form_for :response, @response, :html=> { :multipart => true },
				:url => { :action => action_param, :event_id => event.id, :id => params[:id]} do |f|
			%>
				
				RSVP: <%=select(:response,:rsvp,$rsvp_options,:selected => val) %>
				<%= f.submit "Set status"%>	
			<%end%>
		
		
			<!-- This method prints the attendants and lists them by status -->
			<%= render(:partial => 'calendar_event/rsvp', :locals => {:event => event, :val => val}) %>
		
		<%end%>
	</td>
</tr>
