<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag :defaults  %>
<%= javascript_include_tag "calendar_date_select/calendar_date_select.js"%>
<%= stylesheet_link_tag "calendar_date_select" %>
<%= calendar_date_select_includes "red"%>

<h1><%= params[:id] ? "Edit" : "Create new" %> event</h1>

	<% form_for :event, @event, :html=> { :multipart => true },
		:url => { :action => "create", 
		:id => params[:id]  } do |f|
	%>
	<p><b>Title:</b><br />
	<%= f.text_field :title, :style => "width: 750px" %>
	</p>
	
	<p><b>Ingress:</b><br />
	<%= f.text_field :ingress, :style => "width: 750px" %>
	</p>

	<p><b>Date and time:</b><br />
		<% if params[:date] %>
			<%= f.calendar_date_select :date, :time => true, :value => (params[:date].to_s + " #{(Time.now + 60*60*1).strftime("%d %b %Y @ %H:%M")}")%>
			<%#= f.calendar_date_select :start, :time => true, :value => params[:date]%>
		<% else %>
			<%= f.calendar_date_select :date, :time => true%>
		<% end%>
	</p>	

	<p><b>Additional dates and times:</b><br />
		<% unless params[:id] %>
			<%= f.calendar_date_select :extra_date_1, :time => true %><br /><br />
			<%= f.calendar_date_select :extra_date_2, :time => true %><br /><br />
			<%= f.calendar_date_select :extra_date_3, :time => true %><br /><br />
			<%= f.calendar_date_select :extra_date_4, :time => true %><br /><br />
			<%= f.calendar_date_select :extra_date_5, :time => true %><br /><br />
			<%= f.calendar_date_select :extra_date_6, :time => true %><br /><br />
			<%= f.calendar_date_select :extra_date_7, :time => true %><br /><br />
			<%= f.calendar_date_select :extra_date_8, :time => true %><br /><br />
			<%= f.calendar_date_select :extra_date_9, :time => true %><br /><br />
		<% end%>
	</p>	

	<p><b>Place:</b><br />
	<%= f.text_field :place, :style => "width: 750px" %>
	</p>
	
	<p><b>Type:</b><br />
	<%= select("event","event_type", 
		{"Cinema" => 'cinema', "Event" => 'event', "Plenary Session" => 
			'plenary_session', "Art" => 'art', "Concert" => 'concert',
			"Performance" => 'performance'})
	%>
	</p>
	
	<p><b>Price for members:</b><br />
	<%= f.text_field :price_member, :style => "width: 20px" %>
	</p>	
	
	<p><b>Price for others:</b><br />
	<%= f.text_field :price_other, :style => "width: 20px" %>
	</p>
	
	<p><b>Description:</b><br />
	<%= f.text_area :description, :rows => 5, :style => "width: 750px" %>

	<p><b>URL:</b><br />
	<%= f.text_field :url, :style => "width: 750px" %>
	</p>

	<p><b>Important:</b><br />
	<%= f.check_box :important %>

	<p><b>Visible:</b><br />
	<%= f.check_box :visible %>
	<p>	<b>Picture</b><br />
	Upload new picture: <%= file_field_tag "image" %>
	</p>
<p><%= f.submit "Save event" %></p>


<% end %>
