<div class="event_category">
<% @categories.each do |category| %>
  <span class="event_category_button" id="<%= category.name %>">
  <%if params[:year] && params[:month] && params[:day] %>
    <%= link_to_unless_current category.name, events_with_date_cat_path(:tab=>params[:tab], :category=>category.id, :year=>params[:year], :month=>params[:month], :day=>params[:day]) %>
  <%else%>
    <%= link_to_unless_current category.name, events_path(params[:tab], category.id) %>
  <%end%>
  </span>
<% end %>
</div>
<% @event_dates.each do |ed| %>
  <div class="event" id="event<%= ed.event.id %>">
    <div class="event_date">
      <span class="event_day_name"><%= ed.date.strftime("%A") %></span>
      <span class="event_day"><%= ed.date.strftime("%e")%></span>
      <span class="event_month"><%= ed.date.strftime("%B") %></span>
    </div>
    <h1 class="event_title"><%= link_to ed.event.title, event_path(params[:tab],ed.event.id,:event_date_id=>ed.id) %></h1><br />
    <span class="event_info"><%= ed.event.place %>, kl. <%= ed.date.strftime("%R") %></span><br />
    <span class="event_type"><%= ed.event.event_type.name %></span><br />
    <p class="event_ingress"><%= ed.event.ingress %></p>

  </div>
<% end %>
