<div class="event_category">
<% @categories.each do |category| %>
  <span class="event_category_button" id="<%= category.name %>">
  <%if params[:year] && params[:month] && params[:day] %>
    <%= link_to_unless_current category.name, events_with_date_cat_path(:tab=>params[:tab], :category=>category.id, :year=>params[:year], :month=>params[:month], :day=>params[:day]) %>
  <%else%>
    <%= link_to_unless_current category.name, events_path(params[:tab], category.id) %>
  <%end%>
  </span>
<% end %>
</div>
<% @events.each do |event| %>
  <div class="event" id="event<%= event.id %>">
    <div class="event_date">
      <span class="event_day_name"><%= event.event_dates.first.date.strftime("%A") %></span>
      <span class="event_day"><%= event.event_dates.first.date.strftime("%e")%></span>
      <span class="event_month"><%= event.event_dates.first.date.strftime("%B") %></span>
    </div>
    <h1 class="event_title"><%= link_to event.title, event_path(params[:tab],event.id) %></h1><br />
    <span class="event_info"><%= event.place %>, kl. <%= event.event_dates.first.date.strftime("%R") %></span><br />
    <span class="event_type"><%= event.event_type.name %></span><br />
    <p class="event_ingress"><%= event.ingress %></p>

  </div>
<% end %>
