<div id="event_infobox">
<h1><%= @event.event.title %></h1>
<div class="event_image">
  <%= image_tag @event.event.image.url %>
  <br /><br />
</div>
<div class="event_description" style="float:left">
<%= @event.event.ingress %>
<br />
  <%= raw format @event.event.description %>
</div>
<div class="event_information" style="float:right">
    <h4>Information</h4><br />
    <b>Place:</b> <%= @event.event.place %><br />
    <b>Time:</b> <%= @event.date.strftime("%a %e. %b kl. %R") %> <br />
    <b>What:</b> <%= @event.event.event_type.name %><br />
    <br />
    

    <b>Members:</b> <%= @event.event.price_member %> kr<br />
    <b>Others:</b> <%= @event.event.price_other %> kr<br /><br />
<%=link_to (image_tag "buy_ticket"), "http://www.samfundet.no/arrangement/billetter/betal/"+@event.url%>
<div class="event-other-dates">
<br />
<% if @event.event.event_dates.count > 1 %>
    <b>Other dates:</b><br>
        <% @event.event.event_dates.each do |edate| %>
          <% if edate.id != @event.id%>
            <%= link_to edate.date.strftime("%a %e. %b kl. %R"),  event_path(params[:tab],edate.event.id,:event_date_id=>edate.id)%><br />
          <% end %>
        <% end%>
    <%end%>
</div>
</div>

</div>
