
<%= content_for :header do %>
  <header id="article-header">
    <img src="http://i.imgur.com/Nlrqa.jpg" alt="">
    <div class="header-text">
      <h1><%=@event.title%></h1>
    </div>
  </header>
<div class="well">Facebook-greie? Annet?</div>
<% end %>


<div class="well">
  <article>

    <div id="page-ingress" class="lead">
      <p><%=@event.ingress%></p></div>

    <section class="body"><%=@event.description%></section>

  </article>

</div>

<%= content_for :sidebar do %>

<div class="tickets well">
  <p>Medlemmer: <%=@event.price_member%></p>
  <p>Ikke-medlemmer: <%=@event.price_other%></p>
  <em>Utsolgt</em>  
</div>

<div class="spotify-embed">
  <iframe src="https://embed.spotify.com/?uri=<%=@event.spotify%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>

<!-- OMG THE HAX -->
<div style="visibility: hidden; height: 0;">

<% end %>