<%= render 'shared/streamer' %>

<div class="row">
  <div class="span8">
    <div id="news-carousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @articles.each do |article| %>
          <div class="item <%= article == @articles.first ? "active":"" %>">
            <a href="<%= article_path(article) %>">
              <%= image_tag article.frontend_article_image.url(:frontpage_large), height: "363px" %>
              <div class="carousel-caption">
                <h1><%= article.title %></h1>
                <p><%= article.sub_title %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#news-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#news-carousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span4">
    <aside id="sidebar"><!-- Start hoyreramme -->
      <div class="well">
        <h3>
          Vil du gjenoppleve ISFiT 2013? Besøk
          <%= link_to "2013.isfit.org", "http://2013.isfit.org" %>
        </h3>
      </div>
      <div class="well height-matching">
        <h3>
          Interessert i styret 2015? <%= link_to "Kontakt", page_path(27) %> Marius Jones.
        </h3>
      </div>
    </aside><!-- Slutt hoyreramme -->
  </div>
</div>


<div class="row promo-row">
  <div id="top-right" class="span12 one-up-two-down">
    <div class="row">
      <a href="http://www.facebook.com/pages/ISFiT/11541693212">
        <div id="lower-left-down1" class="span3 down">
          <h1><i class="icon-facebook"></i></h1>
        </div>
      </a>
      <a href="https://twitter.com/isfit">
        <div id="lower-left-down2" class="span3 down">
          <h1><i class="icon-twitter"></i></h1>
        </div>
      </a>
      <a href="/pages/76">
        <div id="top-right-down1" class="span3 down varbox">
          <h1>Filmer fra ISFiT 2013</h1>
        </div>
      </a>
      <a href="/pages/65">
        <div id="top-right-down2" class="span3 down varbox">
          <h1>Bilder fra  ISFiT 2013</h1>
        </div>
      </div>
    </a>
  </div>

</div><div class="promo-row">
  <%= render "shared/ads" %>
</div>
