<%= render 'shared/streamer' %>
<div class="divider-line">
  <h2 class="divider-text">Get involved</h2>
  <hr>
</div>
<div class="frontpage-buttons">
  <div class="row">
      <div class="span4">
        <%= image_tag "blogs-english.png", height: "363px", class: "lower-row-img" %>
      </div>
      <div class="span4">
        <%= image_tag "blogs-english.png", height: "363px", class: "lower-row-img" %>
      </div>
      <div class="span4">
        <%= image_tag "blogs-english.png", height: "363px", class: "lower-row-img" %>
      </div>
  </div>
</div>
<div class="divider-line">
  <h2 class="divider-text">Articles</h2>
  <hr>
</div>
<div class="row">
  <% @articles.each_with_index do |article, i| %>
    <% if i < 2 %>
        <div id="news-carousel-no" class="carousel span6">
          <div class="item active">
            <a href="<%= article_path(article) %>">
              <%= image_tag article.frontend_article_image.url(:frontpage_large), height: "363px" %>
              <div class="carousel-caption">
                <h1><%= article.title %></h1>
                <p><%= article.sub_title %></p>
              </div>
            </a>
          </div>
        </div>
      <% if i.eql?(1) %>
        </div>
        <div class="row">
      <% end %>
    <% else %>
        <div id="news-carousel lower-row" class="carousel slide span4">
          <div class="item active">
            <a href="<%= article_path(article) %>">
              <%= image_tag article.frontend_article_image.url(:frontpage_large), height: "363px", class: "lower-row-img" %>
              <div class="carousel-caption">
                <h4><%= truncate(article.title, length: 30, seperator: '...') %></h4>
            </div>
            </a>
          </div>
        </div>
    <% end %>
  <% end %>
  <div class="span4">
    <iframe src="//player.vimeo.com/video/93283594" width="300" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div id="lower-left" class="span12 one-up-two-down">
    <div class="row">
      <a href="http://2013.isfit.org">
        <div id="top-right-down1" class="span3 down varbox">
            <h1>Want to relive the 2013 festival?</h1>
        </div>
      </a>
      <a href="/mailing_lists">
        <div id="top-right-down1" class="span3 down varbox">
          <h1>Subscribe to our mailing list</h1>
        </div>
      </a>
      <a href="/pages/76">
        <div id="top-right-down1" class="span3 down varbox">
          <h1>Films from 2013</h1>
        </div>
      </a>
      <a href="/pages/65">
        <div id="top-right-down2" class="span3 down varbox">
          <h1>Pictures from 2013</h1>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="promo-row">
  <%= render "shared/ads" %>
</div>


