<%= render 'shared/streamer' %>

<div class="row promo-row">
    <a href="http://events.isfit.org">
      <div class="span6 plenary" id="top-left">
        <img src="/assets/promo-program-en.png" alt="">
      </div>
    </a>
  <div id="top-right" class="span6 one-up-two-down">
    <a href="/articles/all">
      <div id="top-right-up" class="up varbox">
        <h1>Siste nyheter</h1>
      </div>
    </a>
    <div class="row">
      <a href="/pages/76">
        <div id="top-right-down1" class="span3 down varbox">
          <h1>Filmer fra ISFiT 2013</h1>
        </div>
      </a>
      <a href="/pages/65">
        <div id="top-right-down2" class="span3 down varbox">
          <h1>Bilder fra  ISFiT 2013</h1>
        </div>
      </div>
    </a>
  </div>

</div><div class="promo-row">
  <%= render "shared/ads" %>
</div>

<div class="row">
  <div class="span8">
    <div id="news-carousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @articles.each do |article| %>
          <div class="item <%= article == @articles.first ? "active":"" %>">
            <a href="<%= article_path(article) %>">
              <%= image_tag article.frontend_article_image.url(:frontpage_large), height: "363px" %>
              <div class="carousel-caption">
                <h1><%= article.title %></h1>
                <p><%= article.sub_title %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#news-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#news-carousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span4">
    <aside id="sidebar"><!-- Start hoyreramme -->
      <div class="promotional">
        <%= render 'shared/events' %>
      </div>

    </aside><!-- Slutt hoyreramme -->
  </div>
</div>


<div class="row">
  <div id="middle-left" class="span6 one-up-two-down">
    <a href="http://isfit.github.com/blog/en.html">
      <div id="middle-left-up" class="up plenary">
        <h1>Temablogg</h1>
      </div>
    </a>
    <a href="http://isfit2013eng.blogspot.no/">
      <div class="down performing" id="middle-left-down">
        <h1>Festivalblogg</h1>
      </div>
    </a>
  </div>
  <div class="span6 concert" id="middle-right">
    <h1>
      <span>Moddi</span><br>
      © <a href="http://fotogjengen.samfundet.no">Fotogjengen</a>
    </h1>
  </div>
</div>

<div class="row">
  <div id="lower-left" class="span6 one-up-two-down">
    <a href="/2013/10">
      <div id="lower-left-up" class="up concert hide">
        <h1>Stein Torleif Bjella</h1>
      </div>
    </a>
    <div class="row">
      <a href="http://www.facebook.com/pages/ISFiT/11541693212">
        <div id="lower-left-down1" class="span3 down">
          <h1><i class="icon-facebook"></i></h1>
        </div>
      </a>
      <a href="https://twitter.com/isfit">
        <div id="lower-left-down2" class="span3 down">
          <h1><i class="icon-twitter"></i></h1>
        </div>
      </a>
    </div>
  </div>
  <div id="lower-right" class="span6 one-up-two-down">
      <div id="lower-right-up" class="down plenary">
        <h1>
          ISFiT er over for denne gang. Kom tilbake i 2015!
        </h1>
      </div>
    <div class="row">
      <a href="/2013/27">
        <div id="lower-right-down1" class="span3 down concert hide">
          <h1>Sea Change</h1>
        </div>
      </a>
      <a href="/2013/22">
        <div id="lower-right-down2" class="span3 down concert hide">
          <h1>Sun in Sound</h1>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <a href="http://www.studentpeaceprize.org"><img src="http://i.imgur.com/JNiFsWn.png" alt="" style="margin: 20px 0"></a>
  </div>
</div>


