<%= render 'shared/streamer' %>

<div class="row promo-row">
    <a href="http://events.isfit.org">
      <div class="span6 plenary" id="top-left" style="padding-top: 6em;">
        <h1 style="line-height: 1em;">Festival programme</h1>
        <img src="http://i.imgur.com/TTl576H.png" alt="">
      </div>
    </a>
  <div id="top-right" class="span6 one-up-two-down">
    <a href="/articles/all/">
      <div id="top-right-up" class="up varbox">
        <h1>Latest news</h1>
      </div>
    </a>
    <div class="row">
      <a href="http://events.isfit.org/2013/6">
        <div id="top-right-down1" class="span3 down performing">
          <h1>Instant Broadway</h1>
        </div>
      </a>
      <a href="http://events.isfit.org/2013/18">
        <div id="top-right-down2" class="span3 down concert">
          <h1>Moddi</h1>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="promo-row">
  <%= render "shared/ads" %>
</div>

<div class="row">
  <div class="span8">
    <div id="news-carousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @articles.each do |article| %>
          <div class="item <%= article == @articles.first ? "active":"" %>">
            <a href="<%= article_path(article) %>">
              <%= image_tag article.frontend_article_image.url(:frontpage_large), height: "363px" %>
              <div class="carousel-caption">
                <h1><%= article.title %></h1>
                <p><%= article.sub_title %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#news-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#news-carousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span4">
    <aside id="sidebar"><!-- Start hoyreramme -->
      <div class="promotional">
        <%= render 'shared/events' %>
      </div>

    </aside><!-- Slutt hoyreramme -->
  </div>
</div>


<div class="row">
  <div id="middle-left" class="span6 one-up-two-down">
    <a href="http://isfit.github.com/blog/en.html">
      <div id="middle-left-up" class="up plenary">
        <h1>Theme blog</h1>
      </div>
    </a>
    <a href="http://isfit2013eng.blogspot.no/">
      <div class="down performing" id="middle-left-down">
        <h1>Festival blog</h1>
      </div>
    </a>
  </div>
  <div class="span6 concert" id="middle-right">
    <h1>
      <span>Food</span><br>
      Winner of the photo competition: "food"<br>
      © Lidiia Kozhevnikova
    </h1>
  </div>
</div>

<div class="row">
  <div id="lower-left" class="span6 one-up-two-down">
    <a href="/2013/10">
      <div id="lower-left-up" class="up concert hide">
        <h1>Stein Torleif Bjella</h1>
      </div>
    </a>
    <div class="row">
      <a href="http://www.facebook.com/pages/ISFiT/11541693212">
        <div id="lower-left-down1" class="span3 down">
          <h1><i class="icon-facebook"></i></h1>
        </div>
      </a>
      <a href="https://twitter.com/isfit">
        <div id="lower-left-down2" class="span3 down">
          <h1><i class="icon-twitter"></i></h1>
        </div>
      </a>
    </div>
  </div>
  <div id="lower-right" class="span6 one-up-two-down">
      <div id="lower-right-up" class="down plenary">
        <h1>
          ISFiT has started!
        </h1>
      </div>
    <div class="row">
      <a href="/2013/27">
        <div id="lower-right-down1" class="span3 down concert hide">
          <h1>Sea Change</h1>
        </div>
      </a>
      <a href="/2013/22">
        <div id="lower-right-down2" class="span3 down concert hide">
          <h1>Sun in Sound</h1>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <img src="http://i.imgur.com/JNiFsWn.png" alt="" style="margin: 20px 0">
  </div>
</div>

<div class="row promo-row hide">
  <div class="span12">
    <div class="well">
      <h1>#isfit2013 - Instagram</h1>
      <div id="instamap" style="height: 500px;">
        <%= content_for :script do %>
          <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
          <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.2.30/gmaps.min.js"></script>
          <script>
            $(document).ready(function() {
              var map = new GMaps({
                div: '#instamap',
                lat: 63.4226,
                lng: 10.3949,
                zoom: 13
              });

              $.getJSON('/instagram.json', function(data) {
                $.each(data, function(key, imagedata) {
                  var tagList = imagedata.tags;
                  console.log(tagList);
                  var tagStreng = "";
                  for(var tag in tagList){
                    tagStreng += "#" + tagList[tag] + " ";
                  }

                  console.log(tagStreng);

                  var image = new google.maps.MarkerImage(
                  imagedata.images.thumbnail.url,
                  new google.maps.Size(50,50),    // size of the image
                  new google.maps.Point(0,0), // origin, in this case top-left corner
                  new google.maps.Point(12.5, 12.5),    // anchor, i.e. the point half-way along the bottom of the image
                  new google.maps.Size(50,50) // scaledSize
                  );

                  map.addMarker({
                    lat: imagedata.location.latitude,
                    lng: imagedata.location.longitude,
                    title: imagedata.user.username,
                    icon: image,
                    click: function() {
                      var htmlStreng = "<p><a href='" + imagedata.link + "' target='_blank'><img src='" + imagedata.images.standard_resolution.url + "'></a></p>";
                      $("#instagram-image .modal-body").html(htmlStreng);
                      $('#instagram-image').modal('show');
                      $(".modal-footer").html("<p class='pull-left'>" + tagStreng + "</p><button class='btn' data-dismiss='modal' aria-hidden='true'>Close</button>");
                    }
                  });
                });
              });
            }); 
          </script>
        <% end %>
      </div>
      <div id="instagram-image" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>

