<%content_for :head do %>
  <meta property="og:title" content="Support a participant"/>
  <meta property="og:type" content="non_profit"/>
  <meta property="og:image" content="<%="http://www.isfit.org/images/isfitliten.png"%>"/>
  <meta property="og:url" content="<%=(request.url).match(/([A-Za-z0-9:._\/]+)/)[1]%>"/>
  <meta property="og:site_name" content="ISFiT 2013"/>
  <meta property="fb:app_id" content="111446192243028"/>
  <meta property="og:description" content="Support at participant at ISFiT 2013"/>
<%end%>
<div class="well">
  <h1><%= t('donations.donate') %></h1>

  <%= link_to t("donations.donation_button"), @donation.paypal_url(thank_you_donations_url, donations_url), class: "btn btn-primary btn-large" %>

  <% if  Language.to_s == 'no' %>
    <!-- Norsk versjon -->
    <p>
      ISFiT 2013 tar sikte på å ha den mest mangfoldige og inkluderende representasjonen
      av deltakere så langt i festivalens historie. Vårt mål er å bringe over 450 deltakere fra
      tilsammen over 100 forskjellige land til Trondheim. Dette er mulig å oppnå med din
      hjelp! Deltakerne vi inviterer er blant de mest engasjerte, men ikke nødvendigvis de
      mest privilegerte, studentene i verden. Mange av dem er totalt avhengige av at ISFiT
      deler ut reisestøtte, og denne støtten kan du bidra til. ISFiT 2013 tar imot donasjoner
      som går til å finansiere reisestøtte for de deltakerne som trenger det mest.
    </p>
    <p>
      På denne nettsiden har du muligheten til å donere direkte til vårt program
      for reisestøtte. Dette gjør du ved å fylle ut en sum av ditt eget valg i den sikre
      betalingsløsningen nedenfor. Ved å oppgi din e-postadresse vil du motta et takkebrev fra
      ISFiT 2013, og et nytt brev med en oppsummering av festivalen når det hele er over.
    </p>
    <p>
      Takk for din støtte; ditt bidrag betyr mye for både deltakerne og for festivalen som
      helhet.
    </p>
  <% else %>
    <!-- English version -->
    <p>
      One of the goals of ISFiT 2013 is to have the most diverse and welcoming representation of
      participants in the history of the festival. We aim at bringing more than 450 participants
      from over 100 different countries to Trondheim. This is possible to achieve with your help!
      The participants who are invited are among the most committed, but not necessarily the
      most privileged, students in the world. Many of them are entirely dependent upon the
      ISFiT 2013 Travel Support Fund. This is where you can contribute. ISFiT 2013 is accepting
      donations that will finance travel support for those participants who need it the most.
    </p>
    <p>
      You can make a direct donation to our Travel Support Fund through this website.
      Donations are made by filling out the amount of your choice into the safe payment system
      below. By submitting your e-mail address, you will receive a letter of appreciation from
      ISFiT 2013, and a new letter summarizing the festival when ISFiT 2013 is at an end.
    </p>
    <p>
      Thank you for your support; your contribution means a lot for both the participants and
      the festival in its entirety.
    </p>  
  <% end %>
  <div class=photo_full><img src =/images/article/photos/full_article_pictures/8/original_image_data.jpg?1281996015  /><br /><i>Foto: Fotogjengen ved Studentersamfundet i Trondhjem</i><br /><i>Participants from ISFiT 2009</i></div>

  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%=(request.url).match(/([A-Za-z0-9:._\/]+)/)[1]%>" action="recommend"></fb:like>
</div>
