<h1>Registered hosts</h1>

<table width="100%">
	<tr>
		<td>
		
			<p id="search_tips">
				Search on either firstname, lastname or e-mail address.
			</p>
			<% form_tag(:action => "browse") do %>
				<%=text_field_tag('search_criteria', '',:size => '35', :maxlength => '35') %>&nbsp;&nbsp;<%= submit_tag "Search" %>
				<br/>
				<table>
					<tr>
						<td>
							<em>Show only non-matched hosts:</em>
						</td>
						<td>
							<%=check_box_tag('not_matched')%>
						</td>
					</tr>
					<tr>
						<td>
							<em>Show only hosts with free beds:</em>
						</td>
						<td>
							<%=check_box_tag('free_beds')%>
						</td>
					</tr>
				</table>
			<% end -%>
			<p>

			<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
				<tr>
					<th><%= sort_header_tag('hosts.last_name',:text => 'Lastname') %></th>
					<th><%= sort_header_tag('hosts.first_name',:text => 'Firstname') %></th>
					<th><%= sort_header_tag('hosts.email',:text => 'Email') %></th>
					<th><%= sort_header_tag('hosts.phone',:text => 'Phone') %></th>
					<th>Match</th>
					<th>Pickup</th>
					<th>Delete</th>
				</tr>
			<% row = 1 %>
			<% for host in @hosts %>
				<% if @not_matched and host.matched?%>
					<%next%>
				<% end %>				
				<% if @free_beds and !host.free_beds?%>
					<%next%>
				<% end %>
				
					<tr <%= row % 2 == 1 ? ' class="alternate"' : '' %>>
						<td><%=link_to host.last_name, :controller => "host", :action => "view", :id => host.id%></td>
						<td><%=link_to host.first_name, :controller => "host", :action => "view", :id => host.id%></td>
						<td><%=link_to host.email, :controller => "host", :action => "view", :id => host.id%></td>
						<td><%=host.phone%></td>
						<td style="min-width: 70px;">
							<%= link_to(
								(host.matched? ? image_tag("icon/match.png", :alt => "Match",
								:title => "Match", :border => 0, :width => '20px') : image_tag("icon/not_match.png", :alt => "Match",
								:title => "Match", :border => 0, :width => '20px')),
								{
									:controller => "host", :action => "match",
									:id => host.id
								})
				 			%>
							(<%=host.matched_participants.size%>/<%=host.number%>)
						</td>
						<td style="min-width: 70px;">
							<%if host.matched?%>
								<%= link_to(
									(host.pickup_complete? ? image_tag("icon/pickuped.png", :alt => "Pick up",
									:title => "Match", :border => 0) : image_tag("icon/pickup.png", :alt => "Pick up",
									:title => "Match", :border => 0)),
									{
										:controller => "participant", :action => "list_participants_for_pickup",
										:id => host.id
									})
					 			%>
							<%else%>
								<%=image_tag("icon/pickup_na.png", :alt => "Pick up",
								:title => "Match", :border => 0)%>
							<%end%>
							(<%=host.picked_up_participants.size%>/<%=host.matched_participants.size%>)
						</td>
						<td>
							<%= link_to(image_tag("icon/trash.png", :alt => "Delete",
									:title => "Delete", :border => 0),
									{
										:controller => "host", :action => "delete",
										:id => host.id
									},
									:confirm => 'Are you sure you want to delete this host?')
					 		%>
						</td>
					</tr>
					<% row += 1 %>
			<% end %>

			</table>

			<span style="float: left"><%= will_paginate @hosts %></span>
		
		</td>
		<td valign="top">
			<div id="matching_fieldset" style="width: 400px;">
				<fieldset>
				    <legend><strong>Statistics:</strong></legend>
					Free beds: <%=@nof_free_beds.to_s%> / <%=@nof_total_beds.to_s%>
				  </fieldset>
				<fieldset>
					<legend>Icon descriptions</legend>
					<table border="0" cellspacing="5" cellpadding="5">
						<tr>
							<td>
								<%=image_tag("icon/match.png", :alt => "Match",
								:title => "Match", :border => 0, :width => '20px')%>
							</td>
							<td>
								The host has assigned participants.
							</td>
						</tr>		
						<tr>
							<td>
								<%=image_tag("icon/not_match.png", :alt => "Match",
								:title => "Match", :border => 0, :width => '20px')%>
							</td>
							<td>
								The host has not assigned any participants.
							</td>
						</tr>			
						<tr>
							<td>
								<%=image_tag("icon/pickup.png", :alt => "Pick up",
								:title => "Match", :border => 0)%>
							</td>
							<td>
								None or only some of the assigned participants have been picked up.
							</td>
						</tr>			
						<tr>
							<td>
								<%=image_tag("icon/pickuped.png", :alt => "Pick up",
								:title => "Match", :border => 0)%>
							</td>
							<td>
								All of the assigned participants have been picked up.
							</td>
						</tr>			
						<tr>
							<td>
								<%=image_tag("icon/pickup_na.png", :alt => "Pick up",
								:title => "Match", :border => 0)%>
							</td>
							<td>
								Pickup not available (No participants have been assigned).
							</td>
						</tr>
					</table>
				</fieldset>
			</div>
		
		</td>
	</tr>
</table>



