<h1><%=@host.first_name + " " + @host.last_name%></h1>
<table border="0" cellspacing="5" cellpadding="5" style="text-align: left">
	<tr>
		<th>Number of participants:</th>
		<td>
			<% form_for :host, @host do |f| %>
				<%= f.text_field :number %><br />
				<%= f.submit 'Save' %>
			<% end %>
		</td>
	</tr>	
	<tr>
		<th>E-mail</th>
		<td><%=@host.email%></td>
	</tr>	
	<tr>
		<th>Phone</th>
		<td><%=@host.phone%></td>
	</tr>	
	<tr>
		<th>Address</th>
		<td><%=@host.address%></td>
	</tr>	
	<tr>
		<th>Zip Code</th>
		<td><%=@host.zipcode%></td>
	</tr>	
	<tr>
		<th>Place</th>
		<td><%=@host.place%></td>
	</tr>	
	<tr>
		<th>Age</th>
		<td><%=@host.age%></td>
	</tr>
	<tr>
		<th>Have been a host before?</th>
		<td><%=@host.before == 1 ? "Yes" : "No"%></td>
	</tr>	
	<tr>
		<th>Have skies?</th>
		<td><%=@host.skies == 1 ? "Yes" : "No"%></td>
	</tr>
	
	<tr>
		<th>Where can participants sleep?</th>
		<td><%=@host.where%></td>
	</tr>
		
	<tr>
		<th>Participants can arrive one day before?</th>
		<td><%=@host.arrival_before == 1 ? "Yes" : "No"%></td>
	</tr>	
	<tr>
		<th>Participants can arrive one day late?</th>
		<td><%=@host.leave_late == 1 ? "Yes" : "No"%></td>
	</tr>	
	<tr>
		<th>How he/she heard about ISFiT</th>
		<td><%=@host.know_isfit%></td>
	</tr>	
</table>
<table border="0" cellspacing="5" cellpadding="5"  style="text-align: left">
	<tr>
		<th>Why you want to become a host?</th>
	</tr>
	<tr>
		<td><%=@host.why%></td>
	</tr>	
	<tr>
		<th>Special preferences?</th>
	</tr>
	<tr>
		<td><%=@host.preference%></td>
	</tr>
</table>
