<h1>Editing quiz_user</h1>

<% form_for(@quiz_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <p>
    <%= f.label :guesses %><br />
    <%= f.text_field :guesses %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @quiz_user %> |
<%= link_to 'Back', quiz_users_path %>