

<%= form_for(@ambassador, :html => { :class => "yform columnar" })  do |f| %>

  <% if @ambassador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ambassador.errors.count, "error") %> prohibited this ambassador from being saved:</h2>

      <ul>
      <% @ambassador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <fieldset>
    <div class="type-text">
      <%= f.label :name %>
      <%= f.text_field :name, class: "span7" %>
    </div>
    <div class="type-text">
      <%= f.label :email %>
      <%= f.text_field :email, class: "span7" %>
    </div>
    <div class="type-text">
      <%= f.label :email_confirmation %>
      <%= f.text_field :email_confirmation, class: "span7" %>
    </div>
    <div class="type-text">
      <%= f.label :address %>
      <%= f.text_field :address, class: "span7" %>
    </div>
    <div class="type-text">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: "span7" %>
    </div>
    <div class="type-text">
      <%= f.label :city %>
      <%= f.text_field :city, class: "span7" %>
    </div>
    <p>
      Please write a few sentences about your motivation<br>
      for being an ISFiT International ambassador.
    </p>
    <div class="type-text">
      <%= f.label :motivation %>
      <%= f.text_area :motivation, rows: 5, class: "span7" %>
    </div>
    <div class="type-select">
      <%= f.label :country %>
      <%= f.collection_select :country_id, Country.order("name ASC"), :id, :name, :prompt => true %>
    </div>
    <div class="type-select">
      <%= f.label :type %>
      <%= f.select "infopackage_contact_type_id", @contact_types %>
    </div>
    <br>
    <div class="type-button">
      <%= f.submit "Apply now!", class: "submit btn btn-success btn-large" %>
    </div>
  </fieldset>
<% end %>
