<div class="well">
<% if Language.to_s == 'en' %>
<h1>Register as an ambassador</h1>
<p>Do you dream about a world with less corruption?
<br>
Do you wish to share your ISFit stories to inspire others?<br>
You now have the oppertunity to be a part of out blog, movies, or other projects.
<br>
Your face and stories can go worldwide to inspire people in the name of ISFit<p>
<p>Fill out the registration form below, and join the network of international ambassadors for ISFiT 2015.</p>
<p>Thank you in advance for supporting ISFiT.</p>
<% else %>
<h1>Registrer deg som ambassadør</h1>
<p>
  Har du en drøm om en verden med midre korrupsjon?
  <br>
  Har du lyst til å dele dine historier om ISFiT for å inspirere andre?
  <br>
  Ditt ansikt og historier kan verden rundt for å inspirere mennesker i ISFiT sitt navn
</p>
<p>Fyll ut skjemaet nedenfor, og bli med i nettverket av internasjonale ambassadører for ISFiT 2015.</p>
<p>På forhånd takk for din støtte til ISFiT.</p>
<% end %>
  


<%= form_for(@ambassador, :html => { :class => "yform columnar" })  do |f| %>

  <% if @ambassador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ambassador.errors.count, "error") %> prohibited this ambassador from being saved:</h2>

      <ul>
      <% @ambassador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <fieldset>
    <div class="type-text">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="type-text">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="type-text">
      <%= f.label :email_confirmation %>
      <%= f.text_field :email_confirmation %>
    </div>
    <div class="type-text">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div class="type-text">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>
    </div>
    <div class="type-text">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class="type-select">
      <%= f.label :country %>
      <%= f.collection_select :country_id, Country.order("name ASC"), :id, :name, :prompt => true %>
    </div>
    <div class="type-select">
      <%= f.label :type %>
      <%= f.select "infopackage_contact_type_id", @contact_types %>
    </div>
    <div class="type-button">
      <%= f.submit "Register", class: "submit" %>
    </div>
  </fieldset>
<% end %>
</div>
