<p>Ny presseakkreditering er registrert.</p>

<p>Mediebedrift: <%= @press_accreditation.organization %></p>
<p>Fornavn: <%= @press_accreditation.firstname %></p>
<p>Etternavn: <%= @press_accreditation.surname %></p>
<p>Funksjon: <%= @press_accreditation.function %></p>
<p>Dag eller tidsrom: <%= @press_accreditation.day_period %></p>
<p>Ønsker tilgang under hele festivalen: <%= @press_accreditation.access_whole_festival %></p>
<p>Epost: <%= @press_accreditation.email %></p>
<p>Mobilnummer: <%= @press_accreditation.phone %></p>
<p>Fødselsdato: <%= @press_accreditation.birth %></p>
<p>Merknader: <%= @press_accreditation.remarks %></p>

Registreringen ligger også under workroom på internal.