<h1>Listing quiz_questions</h1>

<table>
  <tr>
    <th>Quiz</th>
    <th>Body</th>
  </tr>

<% @quiz_questions.each do |quiz_question| %>
  <tr>
    <td><%=h quiz_question.quiz %></td>
    <td><%=h quiz_question.body %></td>
    <td><%= link_to 'Show', quiz_question %></td>
    <td><%= link_to 'Edit', edit_quiz_question_path(quiz_question) %></td>
    <td><%= link_to 'Destroy', quiz_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quiz_question', new_quiz_question_path %>