<h1><%=@forum_thread.title%></h1>
<h2>Edit your anwser</h2>

<% form_for :forum_post, @forum_post do |f| -%>
	<%= f.hidden_field :id %>
	<%= f.text_area :body,:style => 'width: 500px; height: 200px;' %><br/>
	<%= submit_tag "Save"%>
<% end -%>

<iframe src="<%=url_for(:action => 'show_thread', :controller => 'forum', :id => @thread.id, :iframe => true)%>" width="750px" height="400px"/>