<h1><%=@thread.title%></h1>
<p>
<%= link_to "Write an answer", :controller => "forum", :action => "create_post", :id => @thread.id %>
</p>
<span><%= will_paginate @posts %></span>	

<table id="forum_thread">
<% i = 0 %>
<% for post in @posts %>
	<% i = i.succ %>
	<tr>
		<td>
			<div id="forum_post" class="forum_list_<%=i%2 == 0 ? 'even' : 'odd' %>">
				<%# This table in table is an ugly hack to make sure it is inter browser compatible %>
				<table>
					<tr>
						<td id="forum_body">
							<%=post.created_at.strftime("%d %b %Y %H:%M")%>
							<%= post.user_id == current_user.id ? link_to(image_tag("icon/trash.png", :alt => "Delete",
									:title => "Delete", :border => 0),
									{
										:controller => "forum", :action => "delete_post",
										:id => post.id, :thread_id => @thread.id
									},
									:confirm => 'Are you sure you want to delete this post?') : ""
					 		%>
					
							<%= post.user_id == current_user.id ? link_to(image_tag("icon/edit.png", :alt => "Edit",
									:title => "Edit", :border => 0),
									{
										:controller => "forum", :action => "edit_post",
										:forum_post_id => post.id, :forum_thread_id => @thread.id
									}) : ""
					 		%>
							<hr/>
							<%=format(post.body)%>
						</td>
						<td id="forum_user">
							<% user = LdapUser.get_by_id(post.user_id)%>
							<strong>
								<%= link_to user.firstname+" "+user.lastname, :controller => "user", :action => "show", :id => user.dn %>				
							</strong>
							<br/>
							<%= user.title%>
							<br/>
							<p>
								<%= user.forum_posts.size%> posts
							</p>							
							<% if FileTest.exist?(
								"#{RAILS_ROOT}/public/images/profile_images/#{user.id}.jpg")%>
								<%= image_tag "profile_images/#{user.id}.jpg" ,:title=> "", :height => "100px" %>
								
							<% end %>
							<br/>

						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>	
<% end %>
</table>
<span style="float: left"><%= will_paginate @posts %></span>	
