<script type="text/javascript">
	var rowCount = 0;

	function addRow() {
		rowCount++;

		var choice_table = document.getElementById("choice_table");

                var choice_col = document.createElement("TD");
                var points_col = document.createElement("TD");

		var choice_input = document.createElement("INPUT");
		choice_input.setAttribute("type", "text");
		choice_input.setAttribute("id", "quiz_choice" + rowCount);
		choice_input.setAttribute("name", "quiz_choice[desc" + rowCount + "]");
                choice_input.setAttribute("size", "80");
		choice_input.setAttribute("class", "choice");

		var points_input = document.createElement("INPUT");
		points_input.setAttribute("type", "checkbox");
		points_input.setAttribute("id", "quiz_points" + rowCount);
		points_input.setAttribute("name", "quiz_choice[points" + rowCount + "]");
                points_input.setAttribute("value", "1");
		points_input.setAttribute("class", "points");

		choice_col.appendChild(choice_input);
		points_col.appendChild(points_input);

                var choice_row = document.createElement("TR");

                choice_row.appendChild(choice_col);
		choice_row.appendChild(points_col);
                choice_table.appendChild(choice_row);
	}

	function removeRow() {
		if (rowCount > 0) {
			var choice_table = document.getElementById("choice_table");

			choice_table.removeChild(choice_table.lastChild);

			rowCount--;
		}
	}
</script>

<br />
<%= link_to 'Vis alle quiz\'er', quizzes_path %> | <%= link_to 'Kjør denne quiz\'en', quiz_path(params[:tab], @quiz) %>
<br /><br />

<table id="quizformtable">
  <tr>
    <th class="quizform">Endre quiz-parametre</th>
  </tr>
  <tr>
    <td class="quizform">
	<% form_for(@quiz, :url => { :action => "update" }) do |f| %>
	<%= f.error_messages %>
	Tittel<br />
	<%= f.text_field :title, :size => '35' %>
	<br /><br />
	Beskrivelse<br />
	<%= f.text_area :description, :cols => '86', :rows => '5' %>
	<br /><br />
	<%= f.submit 'Oppdater' %>
	<% end %>
    </td>
  </tr>
</table>

<br />

<table id="quizformtable">
  <tr>
    <th class="quizform">Legg til/endre spørsmål</th>
  </tr>
  <tr>
    <td class="quizform">
	<table id="quiztable">
	  <tr>
	    <th class="quiz">Spørsmål</th>
	    <th class="quiz">Alternativer (poeng)</th>
	  </tr>

	<% td_class = "quiz_alt"
	@quiz.quiz_questions.each do |question|
	  td_class == "quiz" ? td_class = "quiz_alt" : td_class = "quiz" %>
	  <tr>
	    <td class="<%= td_class %>">
	    <%= link_to image_tag("isfit-quiz/trash.png", :border=>0, :alt=>'Fjern spørsmål'), quiz_question_path(params[:tab], question), :confirm => 'Vil du virkelig fjerne dette spørsmålet?', :method => :delete %>
	    <%= link_to image_tag("isfit-quiz/edit.png", :border=>0, :alt=>'Endre spørsmål'), edit_quiz_question_path(params[:tab], question) %>
	    <%= question.body %>
	    </td>
	    <td class="<%= td_class %>">
		<% question.quiz_choices.each do |choice| %>
	  - <%=h choice.description + ' (' + String(choice.points) + ')' %><br />
		<% end %>
	    </td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	<% form_for(@quiz_question) do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :quiz, :value => @quiz.id %>


        Nytt spørsmål<br />
        <%= f.text_area :body, :cols => '86', :rows => '5' %>
        <br /><br />
        <table width="400" id="choice_table">
          <tr valign="top">
            <td>
            Svaralternativ
            </td>
            <td>
            Riktig svar?
            </td>
          </tr>
          <tr valign="top">
            <td>
            <%= text_field :quiz_choice, :desc0, :class => 'choice', :size=>80 %>
            </td>
            <td>
            <%= check_box :quiz_choice, :points0, :class => 'points' %>
            </td>
          </tr>
        </table>

        <br />
        <%= f.submit 'Legg til spørsmål' %>
        &nbsp; &nbsp; <input type="button" value="Legg til rad" onclick="addRow();" />
        &nbsp; <input type="button" value="Fjern rad" onclick="removeRow();" />
	<% end %>
    </td>
  </tr>
</table>

