<br />
<%= link_to 'Vis alle quiz\'er', quizzes_path %> | <%= link_to 'Kjør denne quiz\'en', quiz_path(params[:tab], @quiz) %>
<br /><br />

<table id="quiztable">
  <tr>
    <th class="quiz">Bruker</th>
    <th class="quiz">Poeng</th>
    <th class="quiz">Gjetninger</th>
  </tr>

<% td_class = "quiz_alt"
@best_users.each do |user|
  user_ldap = LdapUser.get_by_id(user.user_id)
  td_class == "quiz" ? td_class = "quiz_alt" : td_class = "quiz" %>
  <tr>
    <td class="<%= td_class %>">
       <%= link_to(user_ldap.name, :controller => "user", :action => "show", :id => user_ldap.dn) %>
    </td>
    <td class="<%= td_class %>">
      <%=h user.points %>
    </td>
    <td class="<%= td_class %>">
      <%=h user.guesses %>
    </td>
  </tr>
<% end %>
</table>

