<br />
<% if Quiz.user_can_add(current_user.id) then %>
  <a href="<%= new_quiz_path %>"><%= image_tag('isfit-quiz/add.png', :border=>0, :alt=>'Ny quiz') %> Ny quiz</a>
  <br /><br />
<% end %>

<table id="quiztable">
  <tr>
    <th class="quiz">Quiz</th>
    <th class="quiz">Beskrivelse</th>
    <th class="quiz">Administrator</th>
  </tr>

<% td_class = "quiz_alt"
@quizzes.each do |quiz|
  quiz_owner = LdapUser.get_by_id(quiz.owner_id)
  td_class == "quiz" ? td_class = "quiz_alt" : td_class = "quiz" %>
  <tr>
    <td class="<%= td_class %>">
    <% if (quiz.user_can_remove(current_user.id)) then %>
      <%= link_to image_tag("isfit-quiz/trash.png", :border=>0, :alt=>'Fjerne quiz'), quiz_path(params[:tab], quiz), :confirm => 'Vil du virkelig fjerne denne quiz\'en?', :method => :delete %>
    <% end %>
    <% if (quiz.user_can_edit(current_user.id)) then %>
      <%= link_to image_tag("isfit-quiz/edit.png", :border=>0, :alt=>'Endre quiz'), edit_quiz_path(params[:tab], quiz) %>
    <% end %>
    <%= link_to quiz.title, quiz_path(params[:tab], quiz) %>
    </td>
    <td class="<%= td_class %>"><%=h quiz.description %></td>
    <td class="<%= td_class %>"><%= link_to(quiz_owner.name, :controller => "user", :action => "show", :id => quiz_owner.dn) %></td>
  </tr>
<% end %>
</table>

