<h1>Browse participants</h1>
<!--SEARCH AREA-->
<div style="margin-left: 0px">
Enter one or several search criteria:<br /><br />
<% form_for :participant, @search_participant, :url => { :action => "browse" },
	:html => {:method => "get"} do |f| %>
  <%= f.error_messages %>
  <table>
  <tr>
		<td><b>Participant-grade at least: </b></td><td width="50"><%= f.text_field :participant_grade, :size=>5%></td>
  	<td><b>Participant id: </b></td><td><%= f.text_field :id, :size=>5 %></td>
	</tr>
  <tr>
		<td><b>Theme-grade at least: </b></td><td><%= f.text_field :theme_grade1, :size=>5%></td>
  	<td><b>First name: </b></td><td><%= f.text_field :first_name %></td>
	</tr>
  <tr>
		<td><b>Total grade-score at least: </b></td><td><%= f.text_field :theme_grade2, :size=>5%></td>
  	<td><b>Last name: </b></td><td><%= f.text_field :last_name %></td>
	</tr>
  <tr>
		<td><b>Participant-grade less than: </b></td><td><%= text_field_tag :pg_less, params[:pg_less], :size=>5%></td>
  	<td><b>E-mail address: </b></td><td><%= f.text_field :email%></td>
	</tr>
  <tr>
		<td><b>Theme-grade less than: </b></td><td><%= text_field_tag :thg_less, params[:thg_less], :size=>5%></td>
  	<td><b>Country:  </b></td><td><%=f.select( :country_id, Country.find(:all).collect {|c| [ c.name, c.id ] })%></td>
	</tr>
  <tr>
		<td><b>Total grade-score less than: </b></td><td><%= text_field_tag :tg_less, params[:tg_less], :size=>5%></td>
  	<td><b>Travel support assessed:</b></td><td><%= check_box_tag :travel_assessed, "1", params[:travel_assessed] %></td>
	</tr>
  <tr>
		<td><b>Assigned workshop: </b></td><td><%= f.text_field :final_workshop, :size=>5%></td>  
		<td><b>Travel support assigned:</b></td><td><%= f.check_box :travel_assigned %></td>
	</tr>
	<tr>
		<td><b>Sex (m/f): </b></td><td><%= f.text_field :sex, :size=> 5%></td>
		<td><b>Travel support requested:  </b></td><td><%= f.check_box :travel_apply %></td>
	</tr>
	<tr>
		<td><b>Invited only:  </b></td><td><%= f.check_box :invited%></td>
		<td><b>Travel support not requested:  </b></td><td><%= check_box_tag :travel_no_apply, "1", params[:travel_no_apply] %></td>
	</tr>
  <tr>
  	<td><b>Travel support required:</b></td><td><%= check_box_tag :travel_required, "1", params[:travel_required] %></td>
  	<td><b>Travel support not required:  </b></td><td><%= f.check_box :travel_nosupport_cancome %></td>
	</tr>
  <tr>
  	<td><b>Have logged in:</b></td><td><%= check_box_tag :logged_in, "1", params[:logged_in] %></td>
  	<td><b>Have not logged in:</b></td><td><%= check_box_tag :not_logged_in, "1", params[:not_logged_in] %></td>
	</tr>
  <tr>
  	<td><b>Have answered:</b></td><td><%= check_box_tag :answered, "1", params[:answered] %></td>
  	<td><b>Have not answered:</b></td><td><%= check_box_tag :not_answered, "1", params[:not_answered] %></td>
	</tr>
  <tr>
  	<td><b>Have answered yes:</b></td><td><%= check_box_tag :answered_yes, "1", params[:answered_yes] %></td>
  	<td><b>Have answered no:</b></td><td><%= check_box_tag :answered_no, "1", params[:answered_no] %></td>
	</tr>
  <tr>
  	<td><b>Have registered travel info:</b></td><td><%= check_box_tag :travelinfo_registered, "1", params[:travelinfo_registered] %></td>
  	<td><b>Have not registered travel info:</b></td><td><%= check_box_tag :travelinfo_not_registered, "1", params[:travelinfo_not_registered] %></td>
	</tr>
  </table>
	<table>
	<tr>
		<td colspan=="2">Visa alternatives:</td>
	</tr>
	<tr>
		<td><b>Don't need visa to come to Norway:</b></td>
		<td>
			<%= check_box_tag :visa_not_needed, "1", 
				params[:visa_not_needed] %>
		</td>
	</tr>
	<tr>
		<td><b>Visa application not yet processed:</b></td>
		<td>
			<%= check_box_tag :visa_not_processed, "1", 
				params[:visa_not_processed] %>
		</td>
	</tr>
	<tr>
		<td><b>Visa granted:</b></td>
		<td>
			<%= check_box_tag :visa_granted, "1", 
				params[:visa_granted] %>
		</td>
	</tr>
	<tr>
		<td><b>Visa rejected:</b></td>
		<td>
			<%= check_box_tag :visa_rejected, "1", 
				params[:visa_rejected] %>
		</td>
	</tr>
	<tr>
		<td>
			Check-in:
		</td>
		<td>
			<%= select_tag(:checkin, options_for_select([['Show all', 0], ['Checked in',1], ['Not checked in', 2]], params[:checkin].to_i)) %>
		</td>
	</tr>
</table>
  <br />
  <%= submit_tag 'Search' %><br>
<% end %>
</div>
<p><%= 
	new_params = params.clone
	new_params[:action] = 'statistics'

	link_to('Show statistics for search results', new_params) %></p>

<% form_for :invite, :url => {:page => params[:page]} do |f| %>
<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
	<tr>
		<td align="center" width="40"><b><%= sort_header_tag('participants.id',
			:text => 'ID') %></b></td>
		<td width="200"><b><%= sort_header_tag('last_name',
			:text => 'Last name') %></b></td>
		<td width="230"><b><%= sort_header_tag('countries.name',
			:text => 'Country') %></b></td>
		<td width="80"><b><%= sort_header_tag('birthdate', 
			:text => 'Date of B.') %></b></td>
		<td width="45"><b><%= sort_header_tag('sex', :text => 'Sex') %></b></td>
		<td width="40"><b><%= sort_header_tag('final_workshop',
			:text => 'WS') %></b></td>
		<td width="50"><b><%= sort_header_tag('workshop1',
			:text => 'WS1') %></b></td>
		<td width="50"><b><%= sort_header_tag('workshop2',
			:text => 'WS2') %></b></td>
		<td width="50"><b><%= sort_header_tag('workshop3',
			:text => 'WS3') %></b></td>
		<td width="50"><b><%= sort_header_tag('travel_apply',
			:text => 'TS R.') %></b></td>
		<td width="50"><b><%= sort_header_tag('travel_assigned',
			:text => 'TS A.') %></b></td>
		<td width="40"><b><%= sort_header_tag('invited',
			:text => 'Inv.') %></b></td>
		<% if @can_see_password %>
		<td><b>Password</b></td>
		<% end %>
		<td><b><!--operations--></b></td>
	</tr>
<% row = 1 %>
<% @participants.each do |participant| %>
	<tr<%= row % 2 == 1 ? ' class="alternate"' : '' %>>
		<td align="right" style="padding-right: 12px"><%= participant.id %></td>
		<td><%= participant.last_name %></td>
		<td><%= participant.country.name %></td>
		<td><%= participant.birthdate.strftime("%d.%m.%Y") %></td>
		<td><%= participant.sex == 'm' ? 'Male' : 'Female' %></td>
		<td align="right" style="padding-right: 26px">
			<%= participant.final_workshop %></td>
		<td align="right" style="padding-right: 26px">
			<%= participant.workshop1 %></td>
		<td align="right" style="padding-right: 26px">
			<%= participant.workshop2 %></td>
		<td align="right" style="padding-right: 26px">
			<%= participant.workshop3 %></td>
		<td align="center" style="padding-right: 26px">
			<%= participant.travel_apply == 1 ? 'Y' : 'N' %></td>
		<td align="center" style="padding-right: 26px">
			<%= participant.travel_assigned == 1 ? 'Y' : 'N' %></td>
		<td>
			<% if @can_invite %>
			<%= check_box_tag("invites[" + participant.id.to_s + "]", "1",
				participant.invited == 1) %>
			<input type="hidden" name="invites[<%= participant.id %>]"
				value="0" />
			<% else %>
			<%= participant.invited == 1 ? 'Y' : 'N' %>
			<% end %>
		</td>
		<% if @can_see_password %>
		<td>
			<%= participant.password %>
		</td>
		<% end %>
		<td>
            <%= link_to(image_tag("icon/edit.png",
            	:alt => "E", :title => "Edit", :border => 0),
                {:action => 'update', :id => participant.id}) %>
		</td>
	</tr>
<% row += 1 %>
<% end %>
</table>
  <p>(WS = Assigned workshop, TS R. = Travel support requested, TS A. = Travel support assessed, Inv. = Invited)</p>
<br />
<% if @can_invite %>
<%= submit_tag  %>
<% end %>
<!--<input value="Invite all" type="button" onclick="javascript:window.location='<%= 
	new_params = params.clone
	new_params.delete(:uninvite_all)
	new_params[:invite_all] = true

	url_for(new_params) %>'" />
<input value="Uninvite all" type="button" onclick="javascript:window.location='<%= 
	new_params = params.clone
	new_params.delete(:invite_all)
	new_params[:uninvite_all] = true

	url_for(new_params) %>'" />-->
<% end %>
<p><%= will_paginate @participants %></p>
