<h1>Overdue Requests</h1>
<p>The below list contains requests for registering travel details overdue.</p>

<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
	<tr>
		<td><b>ID</b></td>
		<td><b>Last name</b></td>
		<td><b>Country</b></td>
		<td><b>Date of B.</b></td>
		<td><b>Sex</b></td>
		<td><b>WS</b></td>
		<td><b>Time of Request</b></td>
		<td><b>Action</b></td>
		<td><b>Status</b></td>
	</tr>

<% pos = 0 %>
<% @participants.each do |p| %>
	<tr<%= pos % 2 == 0 ? ' class="alternate"' : '' %>>
		<td><%= link_to p.id, {:action => 'update', :id => p.id} %></td>
		<td><%= p.last_name %></td>
		<td><%= p.country.name %></td>
		<td><%= p.birthdate.strftime("%d.%m.%Y") %></td>
		<td align="center"><%= p.sex %></td>
		<td align="center"><%= p.final_workshop %></td>
		<td><%= p.request_travel.strftime("%d.%m.%Y %H:%M")  %></td>
		<td>
			<% if p.accept_travel == nil %>
				<% form_for :travel_request do |f| %>
				<%= f.hidden_field :id, :value => p.id  %>
				<%= f.submit 'Accept', :name => 'accept' %>
				<%= f.submit 'Reject', :name => 'reject' %>
				<% end %>
			<% elsif p.accept_travel == 1 %>
				Accepted at <%= p.accept_travel_time.strftime("%d.%m.%Y %H:%M") %>
			<% else %>
				Rejected
			<% end %>
		</td>
		<td>Travel information <%= p.arrival_date ? 'registered' : 
			'not yet registered.' %></td>
	</tr>
<% pos += 1 %>
<% end %>

</table>
