  <h1>Pages</h1>
<p>Below is a list of all pages available for studentpeaceprize.org:</p>

<table cellspacing="0" cellpadding="4" style="border: 1px solid #ccc">
	<tr>
        <td width="50">
            <b><%= sort_header_tag('id', :text => 'ID') %></b>
        </td>
        <td width="300">
            <b><%= sort_header_tag('title', :text => 'Title') %></b>
        </td>
    		<td></td>
  </tr>
<% row = 1 %>
<% @pages.each do |p| %>
    <tr class="article_tr<%= row % 2 == 1 ? ' alternate' : '' %>">
        <td> <%= p.id %> </td>
        <td><%= p.title %> </td>
        <td>
            <%= link_to(image_tag("icon/edit.png",
                :alt => "E", :title => "Edit", :border => 0),
                {:action => 'new', :id => p.id}) %>
        </td>
    </tr>
<% row += 1 %>
<% end %>
</table>
