<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  		<%= stylesheet_link_tag('default') %>
		<title>ISFiT Intranet</title>
	</head>
	<body>
		<div id="page">
			<div id="header">
				<div id="bar">
					<%= render(:partial => 'menu/tabs') %>
				</div>
			</div>
			<div id="leftbar">
				<%= render(:partial => 'menu/groups') %>
			</div>
			<div id="content">
				<% if flash[:warnings] %>
				<div id="warning">
					The following errors occured:
					<ul>
					<% flash[:warnings].each { |attr,msg| %>
						<li><%= msg == nil ? attr : msg %></li>
					<% } %>
					</ul>
				</div>
				<% end %>

<%= yield %>

			</div>
		</div>
	</body>
</html>
