<style>
	.leftline {
		padding-left: 10px;
		margin-left: 2px;
		border-left: 4px solid #ccc;
	}
      </style>
<h1>Editing article</h1>

<% form_for(@article, :url => {:tab => params[:tab], :action => 'update'}) do |f| %>
  <%= f.error_messages %>

  <h2>Meta</h2>
  <div class ="leftline">
  <p>
     <%= f.check_box :visible %>
     <%= f.label "Article is visible on studentpeaceprize.org" %>
     <br>
     <%= f.check_box :press_release %>
     <%= f.label "Article is a press release" %>
    <br>
    <%= f.check_box :main_article %>
    <%= f.label "Article is a main article" %>
 </p>
</div>
 <p>
    <%= f.submit 'Update' %>
  </p>
  <h2>Picture</h2>
  <div class="leftline">
  <p>
    <%=link_to 'Edit Main Picture', {:controller => 'pictures', :action=> 'new', :tab => params[:tab], :article_id => @article.id}, {:popup => true}%>
  </p>
</div>
    <h2>Content</h2>
  <h3>Norwegian version</h3>
  <div class="leftline">
    <p>
      <%= f.label "Title" %><br>
      <%= f.text_field :title_no , :style => "width: 80%"%>
    </p>
    <p>
      <%= f.label "Ingress" %><br />
      <%= f.text_area :ingress_no , :style => "width: 80%"%>
    </p>
    <p>
      <%= f.label "Body" %><br />
      <%= f.text_area :body_no , :style => "width: 80%"%>
    </p>
  </div>
  <p>
    <%= f.submit 'Update' %>
  </p>
 <h3>English version</h3>
  <div class="leftline">
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title_en , :style => "width: 80%"%>
  </p>
    <p>
    <%= f.label :ingress %><br />
    <%= f.text_area :ingress_en , :style => "width: 80%"%>
  </p>
   <p>
    <%= f.label :body %><br />
    <%= f.text_area :body_en , :style => "width: 80%"%>
  </p>
</div>
   <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= link_to 'Back', spp_articles_path %>
<%= render :partial => "formatting" %>
