<!--<div class="grid_4 otherart alpha">
  <h1><%#=h @article.title_en %></h1>
  <h2><%#=format(@article.ingress_en)%></h2>
<p>
  <%#=format(@first) %>
</p>
</div>-->
<!--
<div class="grid_8 otherart omega">-->
<%if @picture%>
  <div style="float:right; margin-left:20px; margin-top: 20px; margin-bottom: 10px;  text-align:center">
  <%#=image_tag @picture_path, :style=>'float: right; margin-left:20px; margin-bottom: 20px'%>
  <%=image_tag @picture_path%><br />
  <%=@article.image_text%>
  </div>
<% end%>
<!--</div>
<div class="grid_4 otherart">
  <%#=format(@second)%> </br>
</div>
<div class="grid_4 otherart omega">
  <%#=format(@third)%> </br>
</div>-->
<span class="otherart">
<h1><%=@article.title_en%></h1>
<h2><%=@article.ingress_en%></h2>
<%=format(@article.body_en)%>
</span>

<%= link_to 'Edit', edit_article_path(@article, :tab=>params[:tab]) %> |
<%= link_to 'Back', articles_path(:tab => params[:tab]) %>
