<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag :defaults  %>
<%= javascript_include_tag "calendar_date_select/calendar_date_select.js"%>
<%= stylesheet_link_tag "calendar_date_select" %>
<%= calendar_date_select_includes "red"%>

<h1><%= params[:id] ? "Edit" : "Create new" %> watch log</h1>

	<% form_for :watch_log, @watch_log, :html=> { :multipart => true },
		:url => { :action => "create", 
		:id => params[:id]  } do |f|
	%>
	<p><b>Logged by:</b><br />
	<%= f.text_field :logged_by, :style => "width: 200px" %>
	</p>
	
	<p><b>Start time:</b><br />
		<% if params[:date] %>
			<%= f.calendar_date_select :start_time, :time => true, :value => (params[:start_time].to_s + " #{(Time.now + 60*60*1).strftime("%d %b %Y @ %H:%M")}")%>
			<%#= f.calendar_date_select :start, :time => true, :value => params[:date]%>
		<% else %>
			<%= f.calendar_date_select :start_time, :time => true%>
		<% end%>
	</p>	
	
	<p><b>End time:</b><br />
		<% if params[:date] %>
			<%= f.calendar_date_select :end_time, :time => true, :value => (params[:end_time].to_s + " #{(Time.now + 60*60*1).strftime("%d %b %Y @ %H:%M")}")%>
			<%#= f.calendar_date_select :start, :time => true, :value => params[:date]%>
		<% else %>
			<%= f.calendar_date_select :end_time, :time => true%>
		<% end%>
	</p>
	
	<p><b>Watching functionary:</b><br />
	<%= f.text_field :watching_functionary, :style => "width: 200px" %>
	</p>
		
	<p><b>Missing functionary:</b><br />
	<%= f.text_field :missing_functionary, :style => "width: 200px" %>
	</p>
		
	<p><b>Substitute functionary:</b><br />
	<%= f.text_field :substitute_functionary, :style => "width: 200px" %>
	</p>
	
	<p><b>Watch Summary:</b><br />
	<%= f.text_area :watch_summary, :rows => 8, :style => "width: 500px" %>
	
	<p><b>Important messages for next watch:</b><br />
	<%= f.text_area :next_watch_important_message, :rows => 8, :style => "width: 500px" %>
	

<p><%= f.submit "Save watch log" %></p>


<% end %>
