<!-- Localize this! -->
<%@chronicles = Chronicle.find_most_recent%>
<%= image_tag("chronicle_comment_#{Language.to_s}.png", :style=>"margin:0px;")%>
<% @chronicles.each do |chronicle| %>
<div class="boks-left">
<h1> <%= link_to chronicle.title, chronicle_path(params[:tab], chronicle), :style => "color: black" %> </h1>
<h4>  <%= chronicle.author %></h4>
<p class="ingress">
  <%=raw format(chronicle.ingress) %>
</p>

<%= link_to "Les mer", chronicle_path(params[:tab], chronicle), :style => "color: black"%>
<%= link_to  t('layout.show_all'), all_chronicles_path(params[:tab]), :class =>"black_left"%>

</div>

<% end %>
<!-- Tip of the hat til deg som oppdaget denne! -Dag -->
