<h1>Infopackage contacts</h1>
<%= link_to 'New personal_contact', new_personal_contact_url %>

<% count_all = PersonalContact.count_by_sql("SELECT COUNT(*) FROM personal_contacts")%>
<p>We have <%= link_to count_all %> contacts all over the world!</p>
<h2>Regions</h2>
<table>
  <th>Places</th><th>Total</th>
  <% types = InfopackageContactsType.find(:all) %>
  <% types.each do |t| %>
    <th>#<%=h t.name %></th>
  <% end %>
  <tr>
    <td>Totals</td>
    <td><%= count_all %></td>
    <% types.each do |t| %>
      <td><%= PersonalContact.count_by_type(t.id) %></td>
    <% end %>
  </tr>
  <% @regions.each do |r| %>
    <% count_total = Region.count_by_sql("SELECT COUNT(*) FROM personal_contacts AS p, countries AS c, regions AS r WHERE p.country_id = c.id AND c.region_id = #{r.id} AND c.region_id = r.id GROUP BY r.id") %>
    

    <tr>
      <td> <%= link_to_remote r.name, :update => "countries", :url => { :action => "show_countries", :rid => r.id }, :method => "get" %></td> 
      <td> <%= count_total %> </td>
    <% types.each do |t| %>
      <td><%= PersonalContact.count_by_region_id_and_type(r.id,t.id) %></td>
    <% end %>
      <td> </td>
    </tr>
<% end %>
</table>
<h2>Countries</h2>
<div id="countries">
  <p>You must select a region first!</p>
</div>

