<p>
  <b>Firstname:</b>
  <%=h @personal_contact.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @personal_contact.lastname %>
</p>

<p>
  <b>Address:</b>
  <%=h @personal_contact.address %>
</p>

<p>
  <b>Zip code:</b>
  <%=h @personal_contact.zip_code %>
</p>

<p>
  <b>Email:</b>
  <%=h @personal_contact.email %>
</p>

<p>
  <b>Country:</b>
  <%=h @personal_contact.country %>
</p>

<p>
  <b>City:</b>
  <%=h @personal_contact.city %>
</p>
    <%= link_to "Edit", edit_personal_contact_path(params[:tab],@personal_contact) %>
    <%= link_to "Back", personal_contacts_path %>
