<%form_for :currentreservation, @currentreservation, :url => { :action => "update", :res_id=>params[:res_id] } do |f|%>
	<%if params[:hour]%>
		<%=f.hidden_field :hour, :value => params[:hour]%>
		<%=f.hidden_field :month, :value => params[:month]%>
		<%=f.hidden_field :day, :value => params[:day]%>
		<%=f.hidden_field :car_id, :value=> params[:car_id]%>
	<%end%>
	<h1>Car reservation</h1>
	<table>
		<tr>
			<th align=left width=110>Reservation from:</th>
			<td align=left><%=@currentreservation.time_from.strftime("%A %e. %B - %Y  %H:%M")%></td>
			<td width = 100></td>
		</tr>
		<tr>
			<th align=left>Reservation to:</th>
			<td align=left><%=@currentreservation.time_to.strftime("%A %e. %B - %Y  %H:%M")%></td>
		</tr>
		<tr>
			<th align=left>Car</td>
			<td align=left><%=@currentcar.name%></td>


		<tr>
			<th align=left>Travel route</th>
			<td align=left><%=f.text_area :route, :size => "40"%></td>
		</tr>
		<tr>
			<th align=left>Comment:</th>
			<td align=left><%=f.text_area :comment, :size=>"39x3"%></td>
		</tr>
	</table>
	<%=f.submit "Update"%><br />
	<%=link_to "Back", :controller=>"car_reservation", :action=>"resdetails", :month=>params[:month], :hour=>params[:hour], :day=>params[:day], :car_id=>params[:car_id]%>
	
<%end%>